{{extend 'db_layout.html'}}

{{
info = db.config[request.vars["id"]]
}}

<form id="data_form" action="DB_ADDRESS/config/edit_form" enctype="multipart/form-data" method="post">
    <input type="HIDDEN" id="config_id" name="id" value="{{=request.vars["id"]}}"> 
    <table>
        <tbody>
            <tr>
                <td > <label for="config_name" id="config_name__label"> Name: </label> </td>
                <td > <input class="string" id="config_name" name="config_name" type="text" value="{{=info.name}}"> </td> <td >
                </td>
            </tr>
            <!--
            <tr>
                <td> <label for="config_standard" id="config_standard__label"> standard: </label> </td>
                <td>
                    <select id="config_standard" name="config_standard">
                        {{ 
                        query = db(db.standard_file).select() 
                        for row in query :}}
                        <option value="{{=row.id }}"
                            {{if row.id==info.standard_id:}}
                                selected
                            {{pass}}
                        >{{=row.name }} </option>
                        {{pass}}
                    </select>
                </td>
                <td> </td>
            </tr>
            -->
            <tr>
                <td> <label for="config_command" id="config_command__label">Command: </label> </td>
                <td> <input class="string" id="config_command" name="config_command" type="text" value="{{=info.command}}"> </td>
                <td> </td>
            </tr>
            <tr>
                <td> <label for="config_info" id="config_info__label">Info: </label> </td>
                <td> <textarea class="text" cols="40" id="config_info" name="config_info" rows="10"> {{=info.info}} </textarea> </td> 
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td > <span class="button" onclick="db.call('config/index')"> back to list </span> <input type="submit" value="Soumettre" class="btn"> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</form>
