{{('message' in globals())}}
{{if 'message' in globals():}}

<div>
    <h3>{{=message}}</h3>
    
    <table class="db_table">
        <tr><td class="column2"> name </td>
            <td class="column2"> standard </td>
            <td> info </td>
            <td> command </td>
            <td class="column5"> </td>
            <td class="column5"> </td>
        </tr>
       {{ 
       query = None
       c_id = ""
       query = db(db.config.standard_id==db.standard_file.id).select() 
       for row in query :}}
            <tr>
                <td> {{=row.config.name }} </td>
                <td> {{=row.standard_file.name}} </td>
                <td> {{=row.config.info }} </td>
                <td> {{=row.config.command }} </td>
                <td onclick="db.call('config/edit', {'id' :'{{=row.config.id}}'} )" > e </td>
                <td onclick="db.call('config/confirm', {'id' :'{{=row.config.id}}'} )" > X </td>
            </tr>
        {{pass}}
    </table>
    <span class="button" onclick="db.call('config/add')"> new config </span>
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
