{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}



<h3>{{=message}}</h3>

<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr><td class="column_50"></td>
                <td class="column2"> classification </td>
                <td class="column2"> name </td>
                <td class="column1"> program </td>
                <td> command </td>
                <td class="column_100"> fuse </td>
                <td> info </td>

                <td class="column5"> </td>
                <td class="column5"> </td>
                <td class="column5"> </td>
            </tr>
        </thead>
       {{ 
       c_id = ""
       for row in query :}}
            <tr>
                <td> {{=row.id }} </td>
                {{ found = False }}
                {{for class_elt in classification: }}
                    {{ if class_elt.id == row.classification: }}
                        <td title="{{ =class_elt.name}}">{{=class_elt.name}}</td>
                        {{ found = True }}
                    {{pass}}
                {{pass}}
                {{ if not found: }}
                    <td title="Not defined">Not defined</td>
                {{pass}}

                <td> {{=row.name }} </td>
                <td> {{=row.program }} </td>
                <td> {{=row.command }} </td>
                <td> {{=row.fuse_command }} </td>
                <td> {{=row.info }} </td>

            {{if isAdmin:}}
                <td onclick="db.call('config/permission', {'id' :'{{=row.id}}'} )" >
                    <i class="icon-key" title="set permissions"></i>
                </td>
                <td onclick="db.call('config/edit', {'id' :'{{=row.id}}'} )" >
                    <i class="icon-pencil-2" title="edit config"></i>
                </td>
                <td {{ if (row.id not in used_configs): }}onclick="db.call('config/confirm', {'id' :'{{=row.id}}'} )" {{pass}}>
                    <i class="icon-erase" title="delete config" {{ if (row.id in used_configs): }} style="opacity: 0.4" {{pass}}></i>
                </td>
            {{else:}}
                <td></td>
                <td></td>
                <td></td>
            {{pass}}
            </tr>
        {{pass}}
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>

<span class="button2" onclick="db.call('config/add')"> + new config </span>


{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
