{{extend 'db_layout.html'}}

<form id="data_form" action="DB_ADDRESS/run/add_form" enctype="multipart/form-data" method="post">
    <table>
        <tbody>
            <tr>
                <td><label for="run_id_label" id="patient_id_label__label">Run ID: </label></td>
                <td><input class="date" id="run_id_label" name="id_label" type="text" value=""><span></span></td>
                <td></td>
            </tr>
            <tr>
                <td ><label for="run_name" id="run_name__label">Name: </label></td>
                <td ><input class="string" id="run_name" name="name" type="text" value=""><span>*</span></td>
                <td ></td>
            </tr>
            <tr>
                <td><label for="run_date" id="run_date__label">Date: </label></td>
                <td><input class="date" id="run_date" name="run_date" type="text" value=""><span>(format: yyyy-mm-dd)</span></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="run_info" id="run_info__label">Info: </label></td>
                <td><textarea class="text" cols="60" id="run_info" name="info" rows="10"></textarea></td>
                <td></td>
            </tr>
			<tr>
			<td><label for="sequencer" id="sequencer__label">Sequencer: </label></td>
			<td><input list="sequencer" id="sequencer" name="sequencer" type="text" size="40" value=""></td>
                  <datalist id="sequencer">
                  {{for row in sequencer_list :}}
                      <option value="{{=row['sequencer']}}">
                  {{pass}}
                  </datalist>
			</tr>
			<tr>
			<td><label for="pcr" id="pcr__label">PCR </label></td>
			<td><input list="pcr" id="pcr" name="pcr" type="text" size="40" value=""></td>
                  <datalist id="pcr">
                  {{for row in pcr_list :}}
                      <option value="{{=row['pcr']}}">
                  {{pass}}
                  </datalist>
			</tr>
            <tr>
                <td></td>
                <td ><input type="submit" value="save" class="btn"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>

<div>
    (* required fields)
</div>
