{{extend 'db_layout.html'}}
{{import vidjil_utils}}

{{('message' in globals())}}
{{if 'message' in globals():}}

{{
data_count = 0 
run_name = db.run[request.vars["id"]].name
}}
<div>
    <h3>{{=message}}: {{=run_name}}
    </h3>
    
    Are you sure you want to delete the run {{=run_name}} ?</br>
    This action cannot be undone.

    <div class="center"> 
        <button onclick="db.call('run/delete', {'id' :'{{=request.vars["id"]}}'} )">delete</button>
        <button onclick="db.call('run/index')">cancel</button>
    </div>
</div>
    
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
