{{extend 'db_layout.html'}}

<div>
    <table>
        <tr>
            <td >
                <label for="file" id="file__label"> file </label>
            </td>
            <td >
                <input id="upload_file" type="file" name="file" >
            </td>
            <td >
            </td>
        </tr>
    </table>
</div>

<form id="upload_form" action="DB_ADDRESS/file/add_form" enctype="multipart/form-data" method="post">
    <input type="hidden" name="patient_id" value="{{=request.vars["id"]}}" >
    <input type="hidden" id="filename" name="filename" type="text" value="">
    
    <table>
        <tbody>
            <tr>
                <td><label for="sampling_date" id="sampling_date__label">sampling date: </label></td>
                <td><input class="date" id="sampling_date" name="sampling_date" type="text" value="">
                    <span>* (format: yyyy-mm-dd)</span></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="file_info" id="file_info__label">info: </label></td>
                <td><textarea class="text" id="file_info" name="file_info" cols="40" rows="10"></textarea></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="pcr" id="pcr__label">pcr: </label></td>
                <td><input class="text" id="pcr" name="pcr" type="text" size="40" value=""></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="sequencer" id="sequencer__label">sequencer: </label></td>
                <td><input class="text" id="sequencer" name="sequencer" type="text" size="40" value=""></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="producer" id="producer__label">producer: </label></td>
                <td><input class="text" id="producer" name="producer" type="text" size="40" value=""></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Soumettre" class="btn"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>

<div>
    (* required fields)
</div>
