{{extend 'db_layout.html'}}

{{patient = db.patient[request.vars["id"]]}}
<h3>{{=patient.last_name + " " + patient.first_name }} ({{=patient.birth}}) -- add file</h3>

<div>
    <table>
        <tr>
            <td >
                <label for="file" id="file__label"> file </label>
            </td>
            <td >
                <input id="upload_file" type="file" name="file" >
            </td>
            <td >
	      (.fa, .fastq, .fa.gz, .fastq.gz, .clntab)   </td>
        </tr>
    </table>
</div>

<form id="upload_form" action="DB_ADDRESS/file/add_form" enctype="multipart/form-data" method="post">
    <input type="hidden" name="patient_id" value="{{=request.vars["id"]}}" >
    <input type="hidden" id="filename" name="filename" type="text" value="">
    
    <table>
        <tbody>
            <tr>
                <td><label for="sampling_date" id="sampling_date__label">sampling date: </label></td>
                <td><input class="date" id="sampling_date" name="sampling_date" type="text" value="">
                    <span>(format: yyyy-mm-dd)</span></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="file_info" id="file_info__label">info: </label></td>
                <td><textarea class="text" id="file_info" name="file_info" cols="40" rows="10"></textarea></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="pcr" id="pcr__label">pcr: </label></td>
                <td><input class="text" id="pcr" name="pcr" type="text" size="40" value="{{=pcr}}"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="sequencer" id="sequencer__label">sequencer: </label></td>
                <td><input class="text" id="sequencer" name="sequencer" type="text" size="40" value="{{=sequencer}}"></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="producer" id="producer__label">producer: </label></td>
                <td><input class="text" id="producer" name="producer" type="text" size="40" value="{{=producer}}"></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Soumettre" class="btn"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>

<div>
It is recommended to upload compressed .fasta.gz or .fastq.gz files to speed up the upload.
<br/>
The server can process files of any size.
However, note that the majority of browsers (except Opera or Chrome) cannot handle upload of files larger than 2GB.
</div>

<br />

<div>
    (* required fields)
</div>
