{{extend 'db_layout.html'}}

{{
info = db.sequence_file[request.vars["id"]]
}}


<form id="data_form" action="DB_ADDRESS/file/edit_form" enctype="multipart/form-data" method="post">
    <input type="hidden" id="file_id" name="id" value="{{=request.vars["id"]}}" >
    
    <table>
        <tbody>
            <tr>
                <td> <label for="sampling_date" id="sampling_date__label">sampling date: </label> </td>
                <td> <input class="date" id="sampling_date" name="sampling_date" type="text" value="{{=info.sampling_date}}"> <span>(format: yyyy-mm-dd) /!\ pas encore de check </span> </td>
                <td> </td>
            </tr>
            <tr>
                <td> <label for="file_info" id="file_info__label">Info: </label> </td>
                <td> <textarea class="text" cols="40" id="file_info" name="file_info" rows="10">{{=info.info}}</textarea> </td>
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td> <span class="button" onclick="db.call('patient/info', { id : '{{=request.vars['patient_id']}}' } )"> back to list </span> <input type="submit" value="Soumettre" class="btn"> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</form>
