h1, h2, div, p {
  margin: 0;
  padding: 0;
}

header, footer {
  display: block;
}

.flexbox {
  display: -ms-Flexbox;
	-ms-box-orient: horizontal;

	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
}

.panel {
  background: white;
  border-radius: 0.1em;
  margin: 0.1em 0.2em;
  padding: 1em;
}

.twopanels_left {
  margin-right: 0.1em;
}

.twopanels_right {
  margin-left: 0.1em;
}

#header_panel {
  padding-top: 0.2em;
}

#app_title {
  font-size: 1.7em;
  float: right;
}

#tool_title {
  font-size: 1.2em;
}

#form_panel {
  -webkit-flex: 1 60%;
  -moz-flex: 1 60%;
  -ms-flex: 1 60%;
  flex: 1 60%;
  padding: 2em;
  position: relative;
}

.vidjil_view {
  display: none;
}

#form_sequences {
  width: 100%;
}

#scatter_panel {
  -webkit-flex: 2 32%;
  -moz-flex: 2 32%;
  -ms-flex: 2 32%;
  flex: 2 32%;
}

#footer_panel {
  display: inline-block;
  float: right;
  padding: 0.2em 0.7em;
}

#copyright {
  font-size: 0.7em;
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;
  text-align: right;
}
