#form_panel {
  padding: 2em;
}

#form_sequences {
  width: 100%;
}

#results_panel {
  display: none;
}

/*#segmenter_panel {
  border: 1px solid grey;
  border-radius: 3px;
  height: 100%;
  width: 100%;
}*/

.panel {
  background: white;
  border-radius: 0.1em;
  margin: 0.5em;
  padding: 1em;
}
