germline/????.fa
data/Stanford_S22.fasta
data/Stanford_S22.rc.fasta
*.data
*.clntab
*.tap
*.log
dep.mk
*~
*.o
*.a
*.pyc
/vidjil
/algo/tests/tests
/algo/tests/out/
/algo/TAGS
/algo/tools/affectanalyser
/algo/tools/align
/algo/tools/compareV
/algo/tools/cut
/algo/tools/dynprog
/algo/tools/segmentD
/out
/interface/css/*.css
/interface/cgi/align.cgi
