germline/????.fa
germline/????_downstream.fa
germline/????_upstream.fa
germline/mus-musculus/
germline/rattus-norvegicus
data/Stanford_S22.fasta
data/Stanford_S22.rc.fasta
*.data
*.clntab
*.tap
*.log
dep.mk
*~
*.o
*.a
*.pyc
/vidjil
/algo/tests/tests
/algo/tests/out/
/algo/TAGS
/algo/tools/affectanalyser
/algo/tools/align
/algo/tools/compareV
/algo/tools/cut
/algo/tools/dynprog
/algo/tools/segmentD
/out
/browser/css/*.css
/browser/cgi/align.cgi
/browser/js/conf.js
node_modules/
server/web2py/applications/vidjil/errors
*.bak

docker/vidjil-client/ssl/web2py.crt

docker/vidjil-client/ssl/web2py.key

tools/align.cgi

tools/similarity.cgi

germline/homo-sapiens/

germline/germline-59.tar.gz

germline/IMGT_RELEASE

vidjil-algo

server/web2py/gluon/packages/dal/

cypress/reports
cypress/screenshots
cypress/videos

docker/volumes/



browser/test/cypress/reports
browser/test/cypress/screenshots
browser/test/cypress/videos
server/web2py/applications/vidjil/tests/cypress/reports
server/web2py/applications/vidjil/tests/cypress/screenshots
server/web2py/applications/vidjil/tests/cypress/videos

algo/tests/should-get-tests/out/*
browser/test/*.png
browser/test/test/TEST*

# Tutorial generated script
browser/test/functional/tutorial-test.rb
server/web2py/applications/vidjil/tests/functional/tutorial-server.rb
browser/test/cypress/integration/doc_tutorial_client.js
server/web2py/applications/vidjil/tests/cypress/integration/doc_tutorial_server.js

browser/css/icons/*
server/web2py/applications/admin
server/web2py/applications/examples
server/web2py/applications/welcome
server/web2py/gluon
server/web2py/scripts
server/web2py/extras
server/web2py/examples
server/web2py/handlers


*.vidjil
*.fastq
*.fastq.gz
*.gz

tools/*.txt

germline/*/*.fa


browser/chosen
demo/*.fa
demo/*.fasta
.directory

# build of gitlab-runner
builds/
server/py4web/apps/.service/

server/py4web/apps/_dashboard/

server/py4web/apps/_default/

server/py4web/apps/_documentation/

server/py4web/apps/_minimal/

server/py4web/apps/_scaffold/

server/py4web/apps/examples/

server/py4web/apps/vidjil/databases/

server/py4web/password.txt

docker/vidjil-server2/vidjil/

browser/js/germline.js
*.swp
cypress
