
*~
*.a
*.bak
*.crt
*.clntab
*.data
*.fastq
*.fastq.gz
*.gz
*.key
*.log
*.o
*.pem
*.pyc
*.swp
*.tap
*.vidjil
*.xml
dep.mk
out-ruff
.directory

algo/git-version.h
algo/git-version.h.tmp
algo/tests/tests
algo/tests/out/
algo/TAGS
algo/tools/affectanalyser
algo/tools/align
algo/tools/compareV
algo/tools/cut
algo/tools/dynprog
algo/tools/segmentD
algo/tools/similarity
algo/tools/vdj_assign
algo/**/*.gcda

binaries/

builds/

browser/css/*.css
browser/js/conf.js
browser/js/germline.js
browser/js/git-sha1.js
browser/js/git-sha1.js.tmp

data/Stanford_S22.fasta
data/Stanford_S22.rc.fasta

demo/*.fa
demo/*.fasta

doc/analysis-example2.analysis
doc/tags.html

docker/volumes/
docker/vidjil-client/ssl/vidjil.crt
docker/vidjil-client/ssl/vidjil.key
docker/vidjil-server/requirements.txt
docker/scripts/

firefox/

germline/????.fa
germline/????_downstream.fa
germline/????_upstream.fa
germline/mus-musculus/
germline/rattus-norvegicus
germline/homo-sapiens/
germline/germline-59.tar.gz
germline/IMGT_RELEASE
germline/*/*.fa

node_modules/

server/py4web/apps/.service/
server/py4web/apps/_dashboard/
server/py4web/apps/_default/
server/py4web/apps/_documentation/
server/py4web/apps/_minimal/
server/py4web/apps/_scaffold/
server/py4web/apps/examples/
server/py4web/apps/vidjil/databases/
server/py4web/apps/password.txt
server/py4web/password.txt

site/

tools/align.cgi
tools/similarity.cgi
tools/flash2
tools/scripts/
tools/*.txt

out/

vidjil-algo
vidjil-algo/

# Tests
/cypress
cypress.config.js
algo/tests/should-get-tests/out/*
algo/tests/data/analysis-with-windows.analysis.formatted
algo/tests/data/analysis-with-windows.analysis.new.new.formatted
algo/tests/data/chimera-fake-VJ-trim.g
algo/tests/data/Stanford_S22.fasta
algo/tests/data/Stanford_S22.rc.fasta
browser/test/cypress/fixtures
browser/test/cypress/reports
browser/test/cypress/screenshots
browser/test/cypress/videos
browser/test/cypress/logs
browser/test/*.png
browser/test/QUnit/tap_output
browser/test/test/TEST*
server/py4web/apps/vidjil/controllers/test_controller.py
server/py4web/apps/vidjil/tests/cypress/logs/*
server/py4web/apps/vidjil/tests/cypress/screenshots/*
server/py4web/apps/vidjil/tests/cypress/downloads/*
server/py4web/apps/vidjil/tests/cypress/fixtures
server/py4web/apps/vidjil/tests/cypress/support
server/py4web/apps/vidjil/tests/cypress/plugins
server/py4web/apps/vidjil/tests/cypress/integration
server/.coverage
tools/tests/should.retry
tools/tests/should.warned.retry
tools/tests/data/pear_strucured_waring.json
tools/tests/data/pear_strucured.json
tools/tests/should-get-tests/fuse_export_airr.airr
tools/tests/should-get-tests/vidjil-to-fasta-with-sequences.fasta

# Tutorial generated script
browser/test/functional/tutorial-test.rb
browser/test/cypress/integration/doc_tutorial_client.js
browser/css/icons/*
browser/test/cypress/e2e/doc_tutorial_client.cy.js
server/py4web/apps/vidjil/tests/cypress/e2e/doc_tutorial_server.cy.js
