markdown 
flower
uwsgi
py4web == 1.20240428.1
pydal == 20241111.2
pymysql
celery[redis]
pottery
ruff
pre-commit

requests
ijson
beautifulsoup4
tabulate
biopython
numpy

legacy-cgi==2.6.3
matplotlib-venn==1.1.2
parasail==1.3.4
tqdm
Levenshtein

