{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}

<h3 id="page_preprocess">{{=message}}</h3>

<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr><td class="column_50"></td>
                <td class="column_150"> name </td>
                <td> command </td>
                <td> info </td>

                <td class="column_20"> </td>
                <td class="column_20"> </td>
                <td class="column_20"> </td>
            </tr>
        </thead>
       {{ for row in query :}}
            <tr  id="preprocess_line_{{=row.id }}" >
                <td id="preprocess_id_{{=row.id }}"   > {{=row.id }} </td>
                <td id="preprocess_name_{{=row.id }}" > {{=row.name }} </td>
                <td id="preprocess_command_{{=row.id }}" > {{=row.command }} </td>
                <td id="preprocess_info_{{=row.id }}" > {{=row.info }} </td>

{{if isAdmin:}} <td id="preprocess_permission_{{=row.id}}" onclick="db.call('pre_process/permission', {'id' :'{{=row.id}}'} )" > <i class="icon-key" title="set permissions"></i> </td> {{else:}} <td></td> {{pass}}
                <td id="preprocess_edit_{{=row.id}}" onclick="db.call('pre_process/edit', {'id' :'{{=row.id}}'} )" > <i class="icon-pencil-2" title="edit pre-process"></i> </td>
                <td id="preprocess_delete_{{=row.id}}" onclick="db.call('pre_process/confirm', {'id' :'{{=row.id}}'} )" > <i class="icon-erase" title="delete pre-process"></i> </td>
            </tr>
        {{pass}}
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>

<span id="new_preprocess_btn" class="button2" onclick="db.call('pre_process/add')"> + new pre-process </span>


{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
