[[extend 'db_layout.html']]

<form id="data_form" action="DB_ADDRESS/pre_process/add_form" enctype="multipart/form-data" method="post">
    <table>
        <tbody>
            <tr>
                <td > <label for="pre_process_name" id="pre_process_name__label">Name: </label> </td>
                <td > <input class="string" id="pre_process_name" name="pre_process_name" type="text" value=""> </td> 
                <td > </td>
            </tr>

            
            <tr>
                <td> <label for="pre_process_command" id="pre_process_command__label">Command: </label> </td>
                <td> <textarea class="text" cols="60" id="pre_process_command" name="pre_process_command" rows="10"></textarea> </td> 
                <td> Describe how to use your script so that Vidjil can use it correctly.</br>
                     In your command, replace input file paths with <code>&file1&</code> and <code>&file2&</code>, and the result file path with <code>&result&</code>.<br>
                     For example, the command: <br>
                     <code>python myReadMergerScript.py -n 50 sample_r1.fastq sample_r2.fastq -o result.fastq</code><br>
                     should be described as: <br>
                     <code>python myReadMergerScript.py -n 50 &file1& &file2& -o &result&</code><br>
                </td>
            </tr>
            <tr>
                <td> <label for="pre_process_info" id="pre_process_info__label">Info: </label> </td>
                <td> <textarea class="text" cols="60" id="pre_process_info" name="pre_process_info" rows="10"></textarea> </td> 
                <td> </td>
            </tr>
            <tr>
                <td> </td>
                <td ><input id="add_preprocess_submit" type="submit" value="add pre-process" class="btn"> </td>
                <td> </td>
            </tr>
        </tbody>
    </table>
</form>

<button id="fillPreprocessConfigFormFromClipboard" type="button" onclick="fillPreprocessConfigFormFromClipboard()"
    title="Import preprocess configuration copied in clipboard from preprocess configuration page">
    Import preprocess configuration from clipboard
</button>