[[extend 'db_layout.html']]

[[('message' in globals())]]
[[if 'message' in globals():]]

<h3 id="page_preprocess">[[=message]]</h3>

<div class="db_search_bar">
    <input type="text" id="search_table_preprocess" placeholder="Search..." />
    <button
        onclick="db.filter_table(document.getElementById('search_table_preprocess').value, 'table_preprocess')">Search</button>
</div>

<div id="db_table_container">
    <table class="db_table" id="table_preprocess">
        <thead>
            <tr>
                <td class="column_100 sortable" data-sort="num"> preprocess Id <span class="icon-arrow-combo"></span>
                </td>
                <td class="column_150 sortable" data-sort="name"> name <span class="icon-arrow-combo"></span></td>
                <td> command </td>
                <td> info </td>

                <td class="column_20"> </td>
                <td class="column_20"> </td>
                <td class="column_20"> </td>
                <td class="column_20"> </td>
            </tr>
        </thead>
       [[ for row in query :]]
            <tr  id="preprocess_line_[[=row.id ]]" >
                <td id="preprocess_id_[[=row.id ]]"   > [[=row.id ]] </td>
                <td id="preprocess_name_[[=row.id ]]" title="[[=row.name ]]"> [[=row.name ]] </td>
                <td id="preprocess_command_[[=row.id ]]" title="[[=row.command ]]"> [[=row.command ]] </td>
                <td id="preprocess_info_[[=row.id ]]" title="[[=row.info ]]"> [[=row.info ]] </td>

[[if isAdmin:]] <td id="preprocess_permission_[[=row.id]]" onclick="db.call('pre_process/permission', {'id' :'[[=row.id]]'} )" > <i class="icon-key" title="set permissions"></i> </td> [[else:]] <td></td> [[pass]]
                <td id="preprocess_edit_[[=row.id]]" onclick="db.call('pre_process/edit', {'id' :'[[=row.id]]'} )" > <i class="icon-pencil-2" title="edit pre-process"></i> </td>
                <td id="copyToClipboard_preprocess_[[=row.id]]" class="pointer" onclick='copyTextToClipboard("[[=row.clipboard]]", "configuration [[=row.name]]")' title="Copy '[[=row.name]]' preprocess configuration" > <i class="icon-newspaper"></i></td>
                <td id="preprocess_delete_[[=row.id]]" onclick="db.call('pre_process/confirm', {'id' :'[[=row.id]]'} )" > <i class="icon-erase" title="delete pre-process"></i> </td>
            </tr>
        [[pass]]
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>

<span id="new_preprocess_btn" class="button2" onclick="db.call('pre_process/add')"> + new pre-process </span>


[[elif 'content' in globals():]]
[[=content]]
[[else:]]
[[=BEAUTIFY(response._vars)]]
[[pass]]
