{{('message' in globals())}}
{{if 'message' in globals():}}

<div>
    <h3>{{=message}}</h3>
    
    <table class="db_table">
        <tr class="db_head"><td class="column1"> name </td>
            <td> info </td>
            <td class="column5"> </td>
            <td class="column5"> </td>
        </tr>
       {{ 
       query = None
       c_id = ""
       query = db(db.standard_file).select() 
       for row in query :}}
            <tr>
                <td> {{=row.name }} </td>
                <td> {{=row.info}} </td>
                <td onclick="db.call('standard/edit', {'id' :'{{=row.id}}'} )" > e </td>
                <td onclick="db.call('standard/confirm', {'id' :'{{=row.id}}'} )" > X </td>  
            </tr>
        {{pass}}
    </table>
    <span class="button" onclick="db.call('standard/add')"> add standard_file </span>
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
