<!DOCTYPE html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="../../static/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="segmenter.css" />
  <title>Vidjil</title>
</head>
<body>
  <header id="header_panel" class="container">
    <h1>Vidjil</h1>

    <h2>V(D)J designation tool</h2>

    <p>This tool quickly checks the V(D)J designation of a small number of sequences with (possibly incomplete) V(D)J recombinations.
      To analyze complete NGS RepSeq datasets, use the <a href="http://app.vidjil.org/">full Vidjil platform</a>.
    </p>
  </header>

  <div id="form_panel" class="container">
    <form>
      <textarea autofocus id="form_sequences" name="sequences" rows="10" cols="80" placeholder="Enter up to 10 sequences in FASTA format..."></textarea>
      <p>or</p>
      <input name="sequences_file" type="file" />
      <input id="form_submit" type="submit" />
    </form>
  </div>

  <div id="results_panel" class="container">
    <!-- <h3>Result</h3> -->
    <pre id="results">

    </pre>
  </div>

  <div id="segmenter_panel" class="container">

  </div>

  <footer id="footer_panel" class="container">
    <p>Copyright Vidjil © 2016</p>
  </footer>
  <script src="segmenter.js"></script>
  <script data-main="../../../../../../browser/js/app.js" src="../../../../../../browser/js/lib/require.js"></script>
</body>
