{{extend 'db_layout.html'}}

<div>
    <h2>{{=message}}</h2>
    
    <div id="db_table_container">
        
        <h3>
            Patients
        </h3>
        This page will show you the patient list, here you can see your patients and patients whose permission has been given to you.</br>
    
        <div class="db_help_p">
            <div class="db_help_action">Add patient </div>
                <div class="db_help_desc">You can add a new patient to the list by clicking the "add patient" button and complete the form. 
                    By default you are the only one who can see/access this new patient (admin right).</div>

            <div class="db_help_action">Permission (admin)</div>
                 <div class="db_help_desc">You can share permission with other people or group with the "P" button,
                    people will be able to see your patient and make some action depending of the acces right given.
                    Even if you don't have admin right you can see who have access to the patient</div>

            <div class="db_help_action">Delete (admin)</div>
                 <div class="db_help_desc">Just use the "X" button, you need to confirm your choice before the deletion.</div>

            <div class="db_help_action">Edit (admin)</div>
                <div class="db_help_desc">If you want to change some information use the "e" button to reopen the form.</div>
        </div>

        <h3>
            Configs
        </h3>
        This page will show you the config list, config are just parameters for Vidjil runs. everybody can use config (no permission acces needed, TODO)
        <div class="db_help_p">
            <div class="db_help_action">Add config </div>
                <div class="db_help_desc">You can add a new config to the list by clicking the "add config" button and complete the form.</div>

            <div class="db_help_action">Delete</div>
                 <div class="db_help_desc">Just use the "X" button, you need to confirm your choice before the deletion.</div>

            <div class="db_help_action">Edit</div>
                <div class="db_help_desc">If you want to change some information use the "e" button to reopen the form.</div>
        </div>



        <h3>
            Patient files
        </h3>
        To acces the file list of a patient just click on it in the patient list, you need at least one config to access the patient list.
        You can see which file have been runned with the selected config
        <div class="db_help_p">
            <div class="db_help_action">Add file (admin) </div>
                <div class="db_help_desc">You can add a new file to the list by clicking the "add file" button and complete the form.</div>

            <div class="db_help_action">Run </div>
                <div class="db_help_desc">You can schedule a Vidjil run for a sequence file, select a config and click the "run" button.</div>

            <div class="db_help_action">Download</div>
                <div class="db_help_desc">You can download the sequence file, select a config and click the "run" button.</div>

            <div class="db_help_action">Delete (admin)</div>
                 <div class="db_help_desc">Just use the "X" button, you need to confirm your choice before the deletion.</div>

            <div class="db_help_action">Edit (admin)</div>
                <div class="db_help_desc">If you want to change some information use the "e" button to reopen the form.</div>

            <div class="db_help_action">See result</div>
                <div class="db_help_desc">click the button "see result" and the browser will load the data of all the sequence 
                    files who have been processed by vidjil with the current selected config (can take a few seconds)</div>

        </div>

        <h3>
            Groups
        </h3>
        Group list, group member share permission about patient
        <div class="db_help_p">
            <div class="db_help_action">New group</div>
                <div class="db_help_desc">click this button if you want to create a new group, everybody can create a group, by default the group creator become admin of the group.</div>
            
            <div class="db_help_action">Permission</div>
                <div class="db_help_desc">You can give Admin right to some member of the group with the "P" button,
                    Admin can invite people to become member of the group or revoke membership</div>
            
            <div class="db_help_action">Member list</div>
                <div class="db_help_desc">You can see the member list by clicking on the group name.</br>
                    (admin) here you can invite people or revoke member.</div>

            <div class="db_help_action">Delete (admin)</div>
                 <div class="db_help_desc">Just use the "X" button, you need to confirm your choice before the deletion.</div>
        </div>

        <h3>
            Users
        </h3>
        TODO
        <div class="db_help_p">
            
        </div>
        
    </div>
    
</div>
