<html>
<header>
<title>Vidjil</title>
    <script>
        function init() {
            var browser_url = document.URL.replace(/\/vidjil\/.*$/, "/browser")
                                            .replace("https", "http")
            
//            var database_url = document.URL.replace("/default/index", "/")
//                                            .replace("/vidjil", "/vidjil/")
            
            document.getElementById("browser").href = browser_url
//            document.getElementById("db").innerHTML = database_url
        }
    </script>
</header>
<body onload="init()">
    <h4>Welcome to Vidjil !</h4>

    <!-- The certificate is now validated. -->
    <a id="browser" href="#">Go to Vidjil</a>

    <!--
    I'm a vidjil database, you can try to connect to me with a vidjil browser just copy this address "<span id="db" ></span>" in your browser js/config.js file as DB_ADDRESS.
    -->
</body>

</html>
