{{('message' in globals())}}
{{extend 'layout_fluid.html'}}

{{if 'message' in globals():}}

<div class="span7">
<h3>{{=message}}</h3>

<table class="table">
    <thead>
        <tr><td> name </td>
            <td> gender </td>
            <td> birth </td>
            <td>  </td>

        </tr>
    </thead>
    <tbody>

        {{ query = None
        c_id = ""}}

        {{if "admin" in auth.user_groups.values():}}
            {{query = db( db.patient.id==db.auth_permission.record_id ).select( orderby = db.patient.id) }}
        {{else:}}
            {{query = db( 
                ( db.auth_permission.record_id==db.patient.id ) 
                & ( db.auth_permission.table_name=="patient" ) 
                & ( db.auth_permission.name=="read" ) 
                & ( db.auth_permission.group_id.belongs(auth.user_groups) ) 
                ).select( orderby = db.patient.id)
            }}
        {{pass}}

        {{for row in query :}}
        
            {{if (c_id != row.patient.id) :
                c_id = row.patient.id}}
        <tr class="tabrow" onclick="window.location = '{{=URL(f='patient', args=[row.patient.id])}}' ">
                <td> {{=row.patient.last_name + " " + row.patient.first_name }} </td>
                <td> {{=row.patient.sex }} </td>
                <td> {{=row.patient.birth }} </td>
                <td> {{=row.patient.info }} </td>
            </tr>
            {{pass}}
        plop
        {{pass}}
    </tbody>
</table>
    {{=A(str(T('back')),_href=URL('index'),_class="btn")}}
    {{=A(str(T('add patient')),_href=URL('add_patient_form'),_class="btn")}}
</div>

<div class="span5">
     <div class="well well-small">
         <h3>
             info 
         </h3>
         fenetre ajax / affichage info_patient ...
             <br>TODO
             <br>.
             <br>.
             <br>.
             <br>.
    </div>
        {{=A(str(T('edit info (TODO)')),_href=URL('index'),_class="btn")}}
</div>


{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
