{{('message' in globals())}}
{{if 'message' in globals():}}

<div>
    <h3>{{=message}}  {{=request.vars["id"]}}</h3>
    
    <div>
        choose config ( TODO : fixé sur TRG pour le moment ) <span>
        <select id="choose_config" name="config">
            {{ 
            query = db(db.config).select() 
            for row in query :}}
            <option value="{{=row.id }}">{{=row.name }} </option>
            {{pass}}
        </select>
        </span>
    </div>
</div></br>
    <table>
        <thead>
            <tr><td> file_name </td>
                <td> sampling date </td>
                <td> info </td>
                <td> status </td>
            </tr>
        </thead>
        <tbody>
            {{ 
            query = db( 
            ( db.sequence_file.patient_id==db.patient.id ) 
            & ( db.patient.id==request.vars["id"] ) 
            ).select( left=db.data_file.on(db.data_file.sequence_file_id==db.sequence_file.id) ) 
            for row in query :}}
            <tr>
                <td> {{ filename =  row.sequence_file.data_file
                    }} 
                    {{=filename}}</td>
                <td> {{=row.sequence_file.sampling_date}} </td>
                <td> {{=row.sequence_file.info}} </td>
                <td> {{if row.data_file.id == None :}}
                     <span class="button" onclick="db.request('run_request', { 'sequence_file_id' : '{{=row.sequence_file.id}}' , 'config_id' : '1' } )"> run >> </span>
                     {{else:}}
                     ready
                     {{pass}}
                </td>
            </tr>
            {{pass}}
        </tbody>
    </table>
</br>
    <span class="button" onclick="db.call('patient_list')"> back to list </span>
    <span class="button" onclick="db.call('add_file', { 'id' : '{{=request.vars["id"]}}' } )"> add file </span>
    <span class="button" onclick="db.load( { 'patient_id' : '{{=request.vars["id"]}}' , 'config_id' : '1' } )" > see result </span>
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
