{{extend 'db_layout.html'}}

<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>

<div>
{{form['_id'] ="login_form"}}
    
{{=form}}
    
{{if request.args(0)=='login':}}
    
    {{if not 'register' in auth.settings.actions_disabled:}}
        {{#<button class="btn" onclick="db.call('default/user/register')">Register</button>}}
    {{pass}}
    
    {{if not 'request_reset_password' in auth.settings.actions_disabled:}}
        {{#<button class="btn" onclick="db.call('default/user/request_reset_password')">Lost Password</button>}}
    {{pass}}
 
<p>&nbsp;</p>   

<p>
demo login: <i>demo@vidjil.org</i>
<br />password: <i>demo</i>
</p>

<p>
  You can <a href="mailto:contact@vidjil.org?Subject=%5BVidjil%5D%20Account%20on%20rbx.vidjil.org&Body=%0ADear%20Vidjil%20Team%2C%0A%0AI%20would%20like%20to%20have%20an%20account%20on%20the%20Vidjil%20server.%0A%0A">request an account</a> on this server to test your data. 
</p>

{{pass}}

</div>
