html{
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 1160px;
  min-height: 650px
}

h2
{
  margin-top: 2px;
}

ul{
  padding-left:2px;
  margin-top: 3px;
}

body {
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 14px;
  height : 100%;
  margin:0px;
}

ul {
list-style-type: none;
}

#visu-container{
  height :100%;
}

#top-container {
  height: 28px;
  width: 100%;
  background: inherit;
  border-bottom: solid;
}

#mid-container {
  height: -moz-calc(100% - 150px);
  height: -webkit-calc(100% - 150px);
  height: calc(100% - 150px);
  width : 100%;
  overflow:hidden;
}

#switch{
  float: right;
  position: relative;
  top: -50px;
  height:0px;
}

#left-container {
  height:100%;
  width : 410px;
  height : 100%;
  overflow-y : none;
  float : left;
}

#visu {
  display : inline-block;
  height : 50%;
  width: -moz-calc(100% - 410px);
  width: -webkit-calc(100% - 410px);
  width: calc(100% - 410px);
  overflow:hidden;
}
#visu2 {
  display : inline-block;
  height : 50%;
  width: -moz-calc(100% - 410px);
  width: -webkit-calc(100% - 410px);
  width: calc(100% - 410px);
  overflow:hidden;
}

.button {
    cursor:pointer;
    font-size: 14px;
    padding: 2px 3px;
    margin :3px;
    margin-right:5px;
    margin-left:5px;
    /* text-decoration:underline; */
}

.smallbutton {
    cursor:pointer;
    font-size: 14px;
    text-decoration:underline;
}

.buttonSelector {
    cursor:pointer;
    font-size: 14px;
    margin :2px;
    display:block;
    text-align:left;
}

.buttonSelector:hover {
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
   /*    color: grey; */
   /* font-weight: bold; */
}

circle:hover {
  cursor:pointer;
}

#left{
  height:100%;
}

#info{
  font-family : Courier New,monaco,terminal,courier,system; 
  font-size: 14px;

  height :150px;
  padding:3px;
}

#logo
{
  font-size: 130%;
  font-weight: bold;
  opacity: 1;
  padding: 5px 20px ;
}

span.logo
{
  font-size: 60% ;
  font-weight: bold;
  vertical-align: super;
  opacity: .8;
  color: #f88;
}

#info_data_file
{
  font-size: 200%;
}

#file_menu, #analysis_menu, #dateSelector{
  z-index:2;
  border:solid; 
  position: fixed; 
  top: 200px; 
  min-width:400px;
  margin-left:-250px;
  left :50%;
  font-size: 14px; 
  padding: 10px;
  background:inherit;
  display:none; 
}

#listFav{
  overflow-y : scroll;
  overflow-x : hidden;
  display :none;
}

#listSelect{
  overflow : hidden;
  height :160px
}

#listClones{
  overflow-y : scroll;
  overflow-x : hidden;
  font-weight: bold;
  height: -moz-calc(100% - 210px);
  height: -webkit-calc(100% - 210px);
  height: calc(100% - 210px);
  padding:2px;
}

.sp_legend{
  font-weight : bold;
  text-anchor : middle;
}

.sp_line{
  stroke-width : 0.7px;
}
.sp_subline{
  stroke-width : 0.5px;
  stroke-dasharray: 6,6;
}

.sp_subline_hidden{
  stroke-width : 0px;
}

.list{
  width : 440px;
  display : block;
  padding : 2px;
}

.listElem{
  font-family : Courier New,monaco,terminal,courier,system; 
  font-size: 14px;

  width :380px;
  cursor:pointer;
  -webkit-transition: color 0.2s;
  -o-transition: color  0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  font-weight : bold;
  padding:3px;
  height :14px;
}

.nameBox {
  width: 320px;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  position: relative;
  float:left;

}
.nameBox2 {
  width: 275px;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  position: relative;
  float:left;
  margin-right:10px;
  white-space:nowrap;
}

.colorBox{
  right: 2px;
  float: right;
  border: solid;
  height: 10px;
  width: 10px;
  display: inline-block;
  color: white;
  float:left;
  user-select :none;
}

.delBox{
  margin:2px;
  height: 12px;
  width: 12px;
  display: inline-block;
  color: white;
  float:left;
  user-select :none;
  margin-right: 5px;
  margin-left: 15px;
}

.sizeBox{
  float: right;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  position: relative;
  width: 60px;
}

.starBox{
  float: right;
  height: 16px;
  width: 16px;
  display: inline-block;
  user-select :none;
}

.clusterBox{
  float: left;
  margin-right:2px;
  margin-left:2px;
  height: 12px;
  width: 12px;
  display: inline-block;
}

.axis{
 stroke-width : 2px;
}

.axis_v{
 stroke-width : 1px;
 stroke-dasharray: 6,6;
}

.axis_f{
  stroke-width: 50px;
  opacity: 0.5;
}

.axis_button{
  text-anchor: middle;
  cursor: pointer;
  background:inherit;
  
}

.date{
  text-anchor: middle;
  cursor: pointer;
  background:inherit;
}

.circle{
  -webkit-transition: fill 0.2s;
  -o-transition: fill  0.2s;
  -ms-transition: fill 0.2s;
  transition: fill 0.2s;
}

.circle_hidden{
  -webkit-transition: fill 0.2s;
  display:none;
}

.separator {
  height: 25px;
  position: fixed;
  margin-top: -26px;
  border-top: solid;
  width: 400px;
  padding-top:2px;
}

#cluster {
  background: #101030;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 140px;
  margin-top:20px;
}

#focus-sequence {

}

#tagSelector{
  padding: 5px;
  position: absolute;
  left: 400px;
  top: 195px;
  width:220px;
  border:solid;
  display:none;
}

.tagElem{
  margin:1px;
  height: 20px;
  width:250px;
}

.tagElem:hover{
  border-color: white;
  cursor:pointer;
}

.tagColorBox {
  margin-right:3px;
  height: 16px;
  width: 16px;
  display: inline-block;
  cursor:pointer;
  user-select :none;
  margin-bottom: -4px;
  margin-top: 2px;
}

.menu{
  padding:3px;
  float:left;
  margin:5px;
  cursor:pointer;
  background:inherit;
}

.selector{
display: none;
position: fixed;
margin-right: -5px;
padding: 3px;
border: solid;
background: inherit;
text-center: left;
min-width: 150px;
margin-left: -6px;
border-top: none;
margin-top: 4px;
z-index:5;
}

#bot-container {
position: fixed;
bottom: 5px;
left: 0px;
width: 100%;
overflow-x: scroll;
min-height:50px;
max-height:200px;
overflow-y:auto;
border-top: solid;
border-bottom: solid;
height:100px;
}

#listSeq {
font-weight: bold;
font-family: Courier New,monaco,terminal,courier,system;
font-size: 14px;
}

.sequence-line { 
white-space: nowrap;
}

.seq-fixed {
position: fixed;
width: 395px;
padding-left: 5px;
left:0px;
cursor:pointer;
}

.seq-mobil {
margin-left: 405px;
letter-spacing: 0.12em;
}

#display-menu{
  position: absolute;
  left: 400px;
  top: 195px;
  width:300px;
  display:none;
  padding: 10px;
  border: solid;
}

.tn{
  width:120px;
  display:inline-table;
}

#top_display{
  width:25px;
  display: inline-block;
}

#display-bar{
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  border-top: solid;
  border-bottom:solid;
  padding-bottom:2px;
  width: 100%;
}

#sort-bar{
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  border-top: solid;
  border-bottom:solid;
  padding:2px;
  width: 100%;
}

.tagD{
  margin-left: 15px;
  width: 25px;
  display : inline-block;
  float : right;
}

#new_name{
  font-family: monospace;
  font-weight:bold;
}

#popup-container{
  z-index:3;
  border:solid; 
  position: fixed; 
  top: 250px; 
  left:50% ;
  width:500px;
  font-size: 14px; 
  padding: 10px;
  background:inherit;
  display:none;
  left: -moz-calc(50% - 250px);
  left: -webkit-calc(50% - 250px);
  left: calc(50% - 250px);
}

#popup-container a {
  text-decoration: none;
  font-weight: bold;
}

.closeButton{
  position: absolute;
  top: -12px;
  right: -12px;
  border: solid;
  background: inherit;
  border-radius: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
  padding: 1px;
  font-size: 90%; 
}

.center{
  text-align: center;
}

.gradient{
  background: rgb(61,36,182); 
  background: -moz-linear-gradient(left, rgb(61,36,182) 0%, rgb(36,72,181) 10%, rgb(36,135,184) 20%, rgb(36,183,171) 30%, rgb(36,184,110) 40%, rgb(36,183,48) 50%, rgb(85,184,36) 60%, rgb(146,183,36) 70%, rgb(184,159,36) 80%, rgb(178,95,35) 90%, rgb(184,36,36) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgb(61,36,182)), color-stop(10%,rgb(36,72,181)), color-stop(20%,rgb(36,135,184)), color-stop(30%,rgb(36,183,171)), color-stop(40%,rgb(36,184,110)), color-stop(50%,rgb(36,183,48)), color-stop(60%,rgb(85,184,36)), color-stop(70%,rgb(146,183,36)), color-stop(80%,rgb(184,159,36)), color-stop(90%,rgb(178,95,35)), color-stop(100%,rgb(184,36,36))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgb(61,36,182) 0%,rgb(36,72,181) 10%,rgb(36,135,184) 20%,rgb(36,183,171) 30%,rgb(36,184,110) 40%,rgb(36,183,48) 50%,rgb(85,184,36) 60%,rgb(146,183,36) 70%,rgb(184,159,36) 80%,rgb(178,95,35) 90%,rgb(184,36,36) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgb(61,36,182) 0%,rgb(36,72,181) 10%,rgb(36,135,184) 20%,rgb(36,183,171) 30%,rgb(36,184,110) 40%,rgb(36,183,48) 50%,rgb(85,184,36) 60%,rgb(146,183,36) 70%,rgb(184,159,36) 80%,rgb(178,95,35) 90%,rgb(184,36,36) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgb(61,36,182) 0%,rgb(36,72,181) 10%,rgb(36,135,184) 20%,rgb(36,183,171) 30%,rgb(36,184,110) 40%,rgb(36,183,48) 50%,rgb(85,184,36) 60%,rgb(146,183,36) 70%,rgb(184,159,36) 80%,rgb(178,95,35) 90%,rgb(184,36,36) 100%); /* IE10+ */
  background: linear-gradient(to right, rgb(61,36,182) 0%,rgb(36,72,181) 10%,rgb(36,135,184) 20%,rgb(36,183,171) 30%,rgb(36,184,110) 40%,rgb(36,183,48) 50%,rgb(85,184,36) 60%,rgb(146,183,36) 70%,rgb(184,159,36) 80%,rgb(178,95,35) 90%,rgb(184,36,36) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d24b6', endColorstr='#b82424',GradientType=1 ); /* IE6-9 */
  width :180px;
  height:16px;
  display: inline-block;
}

