

/*
solarizeD.c01 = "#839496"; 
solarizeD.c02 = "#002b36"; 
solarizeD.c03 = "#073642"; 
solarizeD.c04 = "#93a1a1"; 
solarizeD.c05 = "#fdf6e3"; 
solarizeD.c06 = "#586e75"; 
solarizeD.c07 = "#284e55"; 
*/

/*Style polyline / graph*/
.graph_line{
 stroke-width : 2.5px;
 cursor:pointer;
}

.graph_inactive{
 stroke-width : 1.5px;
 cursor:pointer;
 display:none;
}

.graph_select{
 stroke-width : 5px;
 cursor:pointer;
 stroke-dasharray : 20px,5px ;
}

.graph_focus{
 stroke-width : 5px;
 cursor:pointer;
}

#timebar{
 stroke : #586e75 ;
 opacity : 0.5 ;
 stroke-width : 20px;
}

.axis_h, .axis_v{
 stroke : #586e75 ;
 stroke-width : 2px ;
}

.axis_button, .axis_leg{
 fill : #839496;
}

.axis_button:hover{
 fill : #93a1a1;
}


/*style scatterPlot element*/
.circle{
 cursor:pointer;
}

.circle_inactive{
 cursor:pointer;
 opacity: 0.5
}

.circle_select{
 stroke-width : 2.5px;
 stroke : #fdf6e3;
 cursor:pointer;
}

.circle_focus{
 cursor:pointer;
}

#resolution1{
 fill : #002b36;
 opacity : 1;
}
#resolution5{
 fill : #002b36;
 opacity : 0.75;
}

.buttonSelector {
 background : #002b36;
}

.buttonSelector:hover {
 background : #073642;
}

.background_graph2{
 fill : #073642
}
.background_graph{
 fill : #002b36
}
.background_sp{
 fill : #002b36;
}

.sp_legend{
 fill : #586e75 ;
}

.sp_line{
 stroke : #586e75 ;
}

.sp_subline{
 stroke : #586e75 ;
}

body{
 color : #839496;
 background : #002b36;
}

#file_menu, #menu, #listClones, #listSelect, #tagSelector, #display-menu, #bot-container, .seq-fixed{
 background : #002b36;
}

.list_select{
  width : 440px;
  display : block;
  border : solid;
  border-width : 2px;
  padding : 0px;
  border-color : #fdf6e3;
  background : #073642;
}

.list:hover, .tagElem:hover{
  background :#073642;
  cursor:pointer;
}

.graph_text{
  font-weight : bold;
  fill : #586e75 ;
  text-anchor:middle;
}

.graph_time{
  font-weight : bold;
  fill : #586e75;
  text-anchor:middle;
}

.graph_time:hover{
  cursor:pointer;
  fill :#eee8d5;
}

