<div id="db_header">
    
    <div id="db_menu">
        <a class="button" onclick="db.call('patient/index');">patients</a>
        {{if auth.is_admin():}}
        - - -
        <a class="button" onclick="db.call('config/index');">configs</a>
        <a class="button" onclick="db.call('group/index');">groups</a>
        <a class="button" onclick="db.call('user/index');">users</a>
        <a class="button" onclick="db.call('admin/index');">admin</a>
        - - -
        {{pass}}
    </div>
    
    <div id="db_auth">
            {{if auth.user:}}
        
                {{if auth.is_impersonating() :}}                     
                    impersonate
                    <span>
                        <select id="choose_user" name="user" onchange="db.call('default/impersonate', {'id' : this.value})">
                            <option value="0" selected> --- </option>
                            {{for row in db(db.auth_user.id >1).select() :}}
                                <option value="{{=row.id }}" {{if row.id==auth.user_id:}}selected {{pass}}>{{=row.first_name}} {{=row.last_name}} </option> {{pass}}
                        </select>
                    </span>{{pass}}
        
        
        
                {{if auth.is_admin():}}
                   {{if not auth.is_impersonating() :}} 
                    impersonate
                    <span>
                        <select id="choose_user" name="user" onchange="db.call('default/impersonate', {'id' : this.value})">
                            <option value="0" selected> --- </option>
                            {{for row in db(db.auth_user.id >1).select() :}} 
                                <option value="{{=row.id }}">{{=row.first_name}} {{=row.last_name}}</option> {{pass}}
                        </select>
                    </span>
                   {{pass}}
                {{pass}}
                
        
                {{if not auth.is_impersonating() :}}                     
                    {{=auth.user.first_name}} {{=auth.user.last_name}}
                {{pass}}
        
        
        
        
                <a class="button" onclick="db.request('default/user/logout');">(logout)</a>
            {{pass}}
    </div>
    
</div>


<div id="db_content">
    {{include}}
</div>


<div class="db_footer">
    <div class="db_block_left">
        <span id="db_back" class="button" onclick="db.back();"> << back</span>
        <span id="db_reload" class="button" onclick="db.reload();">reload</span>
    </div>
    <div class="db_block_right">

    </div>
</div>
