[[extend 'db_layout.html']]

[[('message' in globals())]]
[[if 'message' in globals():]]


<div>
    <h3>[[=message]]</h3>
    
    You are about to delete group [[=group.role]] ([[=group.id]]).</br>
    Its description is [[=group.description]].<br>
    It currently contains [[=users_number]] user(s).<br>
    <br>
    Are you sure you want to delete group [[=group.role]] ?</br>

    <div class="center"> 
        <button onclick="db.call('group/delete', {'id' :'[[=request.query["id"]]]'} )">delete</button>
        <button onclick="db.back();">cancel</button>
    </div>
</div>
    
[[elif 'content' in globals():]]
[[=content]]
[[else:]]
[[=BEAUTIFY(response._vars)]]
[[pass]]
