version: '2.1'
services:
    mysql:
        image: mysql:5.7
        environment:
            - MYSQL_ROOT_PASSWORD=MySRPimSRP
        volumes:
            - ./mysql/:/docker-entrypoint-initdb.d/
            - /opt/vidjil/mysql:/var/lib/mysql
        healthcheck:
          test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
          timeout: 20s
          retries: 10
    uwsgi:
        image: vidjil/server:latest
        environment:
            - WEB2PY_ADMIN_PASSWORD=
        command: bash /entrypoints/uwsgi-entrypoint.sh
        volumes_from:
            - fuse
        depends_on:
            mysql:
              condition: service_healthy
            fuse:
              condition: service_started
            postfix:
              condition: service_started
        links:
            - mysql:mysql
            - fuse:fuse
            - postfix:postfix
    fuse:
        image: vidjil/server:latest
        command: bash /entrypoints/fuse-entrypoint.sh
        volumes:
            - /opt/vidjil/databases:/usr/share/vidjil/server/web2py/applications/vidjil/databases
            - /opt/vidjil/result/results:/mnt/result/results
            - /opt/vidjil/result/tmp:/mnt/result/tmp
            - /opt/vidjil/upload/uploads:/mnt/upload/uploads
            - /opt/vidjil/log:/var/vidjil
            - /opt/vidjil/log/uwsgi:/var/log/uwsgi
            - /opt/vidjil/backup:/mnt/backup
            - ./vidjil-server/conf:/etc/vidjil
            - ./vidjil-server/scripts:/entrypoints
            - ../germline:/usr/share/vidjil/germline
    nginx:
        image: vidjil/client:latest
        depends_on:
            uwsgi:
              condition: service_started
        links:
                - uwsgi:uwsgi
        ports:
            - "80:80"
            - "443:443"
        command: bash /entrypoints/nginx-entrypoint.sh
        volumes:
            - /opt/vidjil/log/nginx:/var/log/nginx
            - /opt/vidjil/certs:/etc/letsencrypt/well-known
            - ./vidjil-client/ssl:/etc/nginx/ssl
            - ./vidjil-client/conf:/etc/vidjil
            - ../germline:/usr/share/vidjil/germline

    workers:
        image: vidjil/server:latest
        command: bash /entrypoints/workers-entrypoint.sh
        volumes_from:
            - uwsgi
        depends_on:
            uwsgi:
              condition: service_started
            mysql:
              condition: service_healthy
        links:
            - mysql
            - postfix
    backup:
        image: vidjil/server:latest
        command: bash -c "echo '0 5 * * * cd /usr/share/vidjil/server; sh backup.sh /mnt/backup 2>1&' > /etc/cron.d/backup-cron && cron && tail -f /var/log/cron.log"
        volumes_from:
            - uwsgi
        links:
            - mysql
    reporter:
        build: ./reporter
        image: reporter:latest
        volumes_from:
            - uwsgi
        volumes:
            - ./reporter/code:/opt/reporter
        depends_on:
            uwsgi:
              condition: service_started
        links:
            - uwsgi:uwsgi
    postfix:
        image: catatnight/postfix
        expose:
            - 587
        volumes:
            - ./postfix/ssl:/etc/postfix/certs
        environment:
            - maildomain=vidjil.org
            - smtp_user=vidjil:smtp_pass
