#!/bin/sh

set -e

. /usr/share/debconf/confmodule

db_input high vidjil/reconfigure-webserver || true
db_go || true
db_input high vidjil/restart-webserver || true
db_go || true
db_input high vidjil/web2py-password || true
db_go || true
db_input high vidjil/configure-startup || true
db_go || true
db_input medium vidjil/start-services || true
db_go || true
db_input high vidjil/ssl-country || true
db_go || true
db_input high vidjil/ssl-state || true
db_go || true
db_input high vidjil/ssl-locality || true
db_go || true
db_input high vidjil/ssl-organisation || true
db_go || true
db_input high vidjil/ssl-section || true
db_go || true
db_input high vidjil/ssl-name || true
db_go || true
db_input high vidjil/ssl-email || true
db_go || true
