<fieldset name="patient{{=i}}">
    <legend>Patient {{=i+1}}</legend>
    <input type="hidden" id="patient_id_{{=i}}" name="patient[{{=i}}][id]" value="{{if set is not None:}}{{=set['id']}}{{pass}}">
    {{ if set is not None and len(set['error']) > 0: }}
        <div class="error">error: {{=", ".join(set['error'])}}</div>
    {{ pass }}
    <div>
        <label for="patient_id_label_{{=i}}" id="patient_id_label__label_{{=i}}">Patient ID: </label>
        <input class="date" id="patient_id_label_{{=i}}" name="patient[{{=i}}][id_label]" type="text"
            value="{{if set is not None and set['id_label'] is not None:}}{{=set['id_label']}}{{pass}}"><span></span>
    </div>
    <div>
        <label for="patient_first_name_{{=i}}" id="patient_first_name__label_{{=i}}">First Name: </label>
        <input class="string" id="patient_first_name_{{=i}}" name="patient[{{=i}}][first_name]" type="text"
            value="{{if set is not None:}}{{=set['first_name']}}{{pass}}"><span>*</span>
    </div>
    <div>
        <label for="patient_last_name_{{=i}}" id="patient_last_name__label_{{=i}}">Last Name: </label>
        <input class="string" id="patient_last_name_{{=i}}" name="patient[{{=i}}][last_name]" type="text"
            value="{{if set is not None:}}{{=set['last_name']}}{{pass}}"><span>*</span>
    </div>
    <div>
        <label for="patient_birth_{{=i}}" id="patient_birth__label_{{=i}}">Birth: </label>
        <input class="date" id="patient_birth_{{=i}}" name="patient[{{=i}}][birth]" type="text"
            value="{{if set is not None and set['birth'] is not None:}}{{=set['birth']}}{{pass}}" placeholder="yyyy-mm-dd">
    </div>
    <div>
        <label for="patient_info_{{=i}}" id="patient_info__label_{{=i}}">Info: </label>
        <textarea
            onfocus="$(this).data('keys', [$('#group_select option:selected').val()]);
                     new VidjilAutoComplete().setupTags(this);"
            data-needs-atwho="true"
            class="text"
            cols="40"
            id="patient_info_{{=i}}"
            name="patient[{{=i}}][info]"
            rows="10">{{if set is not None and set['info'] is not None:}}{{=set['info']}}{{pass}}</textarea>
    </div>
</fieldset>
