{{extend 'db_layout.html'}}

<form id="data_form" action="DB_ADDRESS/sample_set/add_form" enctype="multipart/form-data" method="post">
    <table>
        <tbody>
            <tr>
                <td ><label for="sample_set_name" id="sample_set_name__label">Name: </label></td>
                <td ><input class="string" id="sample_set_name" name="name" type="text" value=""><span>*</span></td>
                <td ></td>
            </tr>
            <tr {{ if len(groups) <= 1: }} class="hiddenCheckBox" {{pass}}>
                <td><label for="sample_set_group" id="sample_set_group__label">Owner Group: </label></td>
                <td>
                    {{= SELECT(*[OPTION(g['name'], _value=g['id']) for g in groups], _name="sample_set_group", _value=master_group, value=master_group) }}
                </td>
                <td></td>
            </tr>
            <tr>
                <td><label for="sample_set_info" id="sample_set_info__label">Info: </label></td>
                <td><textarea class="text" cols="60" id="sample_set_info" name="info" rows="10"></textarea></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td ><input type="submit" value="save" class="btn"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>

<div>
    (* required fields)
</div>
