{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}

<div>
    <h3>{{=message}}: {{helper.get_display_name(data)}}
    </h3>
    
    Are you sure you want to delete the {{=helper.get_type()}} {{=helper.get_display_name(data)}} ?</br>
    This will delete {{=helper.get_sequence_count(data)}} sequence file(s) and {{=helper.get_data_count(data)}} result files.</br>
    This action cannot be undone.

    <div class="center"> 
        <button onclick="db.call('sample_set/delete', {'id' :'{{=data.sample_set_id}}'} )">delete</button>
	<button onclick="db.call('sample_set/index', {'id' :'{{=data.sample_set_id}}'})">cancel</button>
    </div>
</div>
    
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
