{{extend 'db_layout.html'}}

<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
	    <tr>
            {{ for h in data['headers']: }}
            <td class="{{=h}}">
                <span class="toggle {{=h}}"onclick="$('.content.{{=h}}').toggle(function() {if ($('.content.{{=h}}').is(':visible')) {$('.{{=h}}').width(''); $('.toggle.{{=h}}').text('[-]')} else {$('.{{=h}}').width('20px'); $('.toggle.{{=h}}').text('[+]')}})">[-]</span>
                <span class="content {{=h}}">{{=h}}</span>
            </td>
            {{ pass }}
            <td></td>
        </tr>
        </thead>
        <tbody>
            {{ for res in data['results']: }}
                <tr>
                    {{ for h in data['headers']: }}
                    <td class="{{=h}}">
                        <span class="content {{=h}}">{{=res[h]}}</span>
                    </td>
                    {{ pass }}
                    <td>
                       <span class="pointer" onclick="db.call('default/run_extra', { 'sequence_file_id' : '{{=res["sequence_file_id"]}}', 'config_id' : {{=res["config_id"]}} } )"><i class="icon-cog-2" title="Run the selected configuration for this file"></i></span>
                    </td>
                </tr>
            {{ pass }}
        </tbody>
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>
