[Unit]
Description=web2py vidjil task scheduler
After=network-online.target

[Service]
ExecStart=/usr/bin/python /usr/share/vidjil/server/web2py/web2py.py -K vidjil,vidjil,vidjil
User=www-data
Restart=always
KillSignal=SIGQUIT
Type=simple

[Install]
WantedBy=multi-user.target
