[Unit]
Description=vidjil fuse server
After=network-online.target local-fs.target

[Service]
WorkingDirectory=/usr/share/vidjil/server
ExecStart=/usr/bin/python /usr/share/vidjil/server/fuse_server.py
User=www-data
Restart=always
KillSignal=SIGQUIT
Type=simple
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
