[[extend 'db_layout.html']]
[[from apps.vidjil.modules import vidjil_utils]]

[[total_file_count = 0 ; total_size = 0]]

<h3></h3>

<div class="db_block">
    <div class="db_block_left">
        search
        <input id="db_filter_input" type="text" value="[[=request.query["filter"]]]"  onchange="db.call('sample_set/all', {'type': '[[=helper.get_type()]]', 'filter' : this.value, 'page': 0} )"
                onfocus="new VidjilAutoComplete().setupTags(this);" data-needs-atwho="true" data-keys="[[=group_ids]]">
    </div>
</div>

<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr>
                <td class="column_50"></td>

                [[ for header in fields: ]]
                    [[if isAdmin or header['public']:]]
                        <td class="pointer" [[if header['width']:]] style="width:[[=header['width']]]"[[pass]]
                            onclick="db.call('sample_set/all', {'type': '[[=helper.get_type()]]', 'sort' : '[[=header['sort']]]', 'filter' : '[[=request.query["filter"]]]'
                            [[if not reverse and request.query["sort"]==header['sort'] :]] , 'reverse' : true [[pass]] })">
                                [[=header['name']]]
                        </td>
                    [[ pass ]]
                [[ pass ]]

                <td class="column_20"> </td>
                <td class="column_20"> </td>
                <td class="column_20"> </td>
            </tr>
        </thead>
        
        
       [[for i in range(0, min(len(query), step)) :]]
           [[data = query[i]]]
           <tr class="pointer" 
                id="sample_set_open_[[=data.sample_set_id]]_config_id_-1"
                onclick="db.call('sample_set/index', {'id' :'[[=data.sample_set_id]]' , 'config_id' : '-1' })" >
	            <td class="uid">[[=data.sample_set_id]]</td>
                [[ for field in fields: ]]
                    <td> 
                      [[= field['call'](data)]] 
                    </td>
                [[ pass ]]
                [[ file_count, size =  helper.get_files_values(data) ]]
                [[ total_file_count += file_count ; total_size += size ]]
               
                [[if isAdmin:]] 
                    <td onclick="db.call('sample_set/permission', {'id' :'[[=data.sample_set_id]]'} )" > <i class="icon-key" title="set permissions"></i> </td> 
                [[else:]] 
                    <td></td> 
                [[pass]]
                [[if data.sample_set_id in admin_permissions:]]
                    <td onclick="db.call('sample_set/form', {'id' :'[[=data.sample_set_id]]'} )" > <i class="icon-pencil-2" title="[[='edit %s information' % 'sample_set']]"></i> </td>
                    <td onclick="db.call('sample_set/confirm', {'id' :'[[=data.sample_set_id]]'} )" > <i class="icon-erase" title="[[='delete %s' % helper.get_type_display()]]"></i> </td>
                [[else:]]
                    <td></td>
                    <td></td>
                [[pass]]
            </tr>
        [[pass]]
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>

<div class="db_block">
    <div class="db_block_left">
        [[if auth.can_create_sample_set():]]
            <span class="button2" id="create_new_set_type_[[=helper.type]]" onclick="db.call('sample_set/form', {'type': '[[=helper.type]]'})"> + new [[=helper.get_type_display()]]s </span>
            <span class="button2 devel-mode" onclick="db.call('sample_set/custom', {'filter': '[[=request.query['filter']]]' })"> compare samples/patients </span>
        [[pass]]
    </div>

    <div class="db_block_right">
        <br />
        [[ if len(query) <= step: ]]
            [[ =len(query) ]] [[=helper.get_type_display()]]s, [[ =total_file_count ]] files ([[ =vidjil_utils.format_size(total_size) ]])
        [[ pass ]]
    </div>
</div>
        
[[ if page > 0 or len(query) > step: ]]
<div class="db_block_center">
    page:
    [[ if page > 0: ]]
        <i class="icon-left-open-1" onclick="db.call('sample_set/all', {'type': '[[=helper.get_type()]]', 'filter': '[[=request.query['filter']]]', 'page': [[=page-1]]})"></i>
    [[ pass ]]
    [[= page + 1 ]]
    [[if len(query) > step : ]]
        <i class="icon-right-open-1" onclick="db.call('sample_set/all', {'type': '[[=helper.get_type()]]', 'filter': '[[=request.query['filter']]]', 'page': [[=page+1]]})"></i>
    [[ pass ]]
</div>
[[ pass ]]
