[[extend 'db_layout.html']]

[[
    from apps.vidjil import settings
    from apps.vidjil.modules import sampleSet
]]

[[ if isEditing: ]]
<h3>Edit patient, run, or set</h3>
[[ else: ]]
<h3>Add patients, runs, or sets</h3>
[[ pass ]]

<form id="object_form" action="DB_ADDRESS/sample_set/submit" enctype="multipart/form-data" method="post" onkeypress="return event.keyCode != 13;" autocomplete="off">
    <div [[ if len(groups) <= 1: ]] class="hiddenCheckBox" [[pass]]>
        <label for="group_select" id="patient_group__label">Owner Group: </label>
        <select id="group_select" name="group">
        [[for group in groups:]]
            <option value="[[ =group['id'] ]]" [[if group['id']==master_group:]]selected[[pass]]>[[ =group['name'] ]] </option>
        [[pass]]
        </select>
    </div>
[[ if not isEditing: ]]
    <div class="buttons_add_elements">
      Patients, runs and sets are different ways to group samples.
      You can <a target='_blank' href="http://www.vidjil.org/doc/#batch-creation">create at once</a> several of them:
      <span class="button2"
            onclick="addPatientForm()"
            id="patient_button"
            title="add patient input row to the form"
            data-index="[[=len(sets[sampleSet.SET_TYPE_PATIENT])]]">add patient</span>
      <span class="button2 clipboard-button"
            onclick="readClipBoard('patient'); antiSpam(this,1000)"
            id="patient_clipboard"
            title="paste patients from clipboard">
            <i class="icon-newspaper"></i></span>
      <span class="button2"
            onclick="addRunForm()"
            id="run_button"
            data-index="[[=len(sets[sampleSet.SET_TYPE_RUN])]]">add run</span>
      <span class="button2 clipboard-button"
            onclick="readClipBoard('run'); antiSpam(this,1000)"
            id="run_clipboard"
            title="paste runs from clipboard">
            <i class="icon-newspaper"></i></span>
      <span class="button2"
            onclick="addSetForm()"
            id="generic_button"
            data-index="[[=len(sets[sampleSet.SET_TYPE_GENERIC])]]">add set</span>
      <span class="button2 clipboard-button"
            onclick="readClipBoard('generic'); antiSpam(this,1000)"
            id="set_clipboard"
            title="paste sample sets from clipboard">
            <i class="icon-newspaper"></i></span>
      <div class="clear"></div>
    </div>
[[ pass ]]
[[ if not settings.HEALTHCARE_COMPLIANCE: ]]
    <div>
      <p>
        <span class='warn'><b>⚠️ Research Use Only.</b></span>
        This server is not compliant for clinical use.
        See options for using Vidjil while <a href="http://www.vidjil.org/doc/healthcare">hosting healthcare data</a>.
      </p>
    </div>
[[ pass ]]
    <div id="fieldset_container">
        [[ for set_type in sets: ]]
            [[ for i, set in enumerate(sets[set_type]): ]]
                [[ if set_type == sampleSet.SET_TYPE_PATIENT: ]]
                    [[ include 'partial/patient/form.html' ]]
                [[ elif set_type == sampleSet.SET_TYPE_RUN: ]]
                    [[ include 'partial/run/form.html' ]]
                [[ elif set_type == sampleSet.SET_TYPE_GENERIC: ]]
                    [[ include 'partial/generic/form.html' ]]
                [[pass]]
            [[ pass ]]
        [[ pass ]]
    </div>
    <div class="clear"></div>
    <div class="clear"></div>
    <input type="submit" value="save" class="btn"></td>
</form>

