[[extend 'db_layout.html']]
[[from apps.vidjil.modules import vidjil_utils]]
[[from apps.vidjil.modules.permission_enum import PermissionEnum]]
[[from apps.vidjil import tasks]]

<div>

    <h3>
    <i class="icon-left-open-1" title="previous" onclick="db.call('sample_set/index', {'next': '1', 'id' :'[[=request.query['id']]]', 'config_id' : '[[=config_id]]'})"></i>
    <i class="icon-right-open-1" title="next" onclick="db.call('sample_set/index', {'next': '-1', 'id' :'[[=request.query['id']]]', 'config_id' : '[[=config_id]]'})"></i>
        <span class="uid">[[=request.query['id']]]</span> [[=info["name"]]]
        [[ for owner in owners: ]]
            <span class="owner" style="display:none;">[[=owner['auth_group.role']]]</span>
        [[pass]]
    </h3>
        
        
    <div class="db_block">

        <div class="db_block_left"> [[=info["label"]]] </div>
        
        <div class="db_block_right"> 
            [[if auth.can_process_sample_set(int(request.query['id'])) :]]
                process config
                <span>
                    <select id="choose_config" name="config" onchange="db.call('sample_set/index', {'id' :'[[=request.query['id']]]', 'config_id' : this.value})">
                        <option value="-1" [[if not config :]]selected[[pass]]> --- </option>
                        [[ for class_name in sorted(classification.keys()): ]]
                            [[ class_elt = classification[class_name] ]]
                            <optgroup label="[[ =class_elt['name'] ]]"  title="[[ =class_elt['info'] ]]">
                                [[ for row in class_elt['configs']: ]]
                                    <option value="[[=row.id ]]" [[if row.id==config_id:]]selected[[pass]] title="[[=row.info]]" >
                                        [[=row.name]]
                                    </option>
                                [[pass]]
                            </optgroup>
                        [[pass]]
                    </select>
                </span>
            [[pass]]
        </div>
    </div>
</div>


<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr>
                <td class="column_200"> file name </td>
                <td class="column_100"> sampling date </td>
                <td> info </td>
                <td> size </td>
                [[if has_shared_sets: ]] <td> associated sets </td> [[pass]]
                <td> pre-process </td>
		        [[if auth.is_admin():]] <td> uploader </td> [[pass]]
                <td class="column_20"> </td>
                <td class="column_20"> </td>
                <td class="column_20"> </td>

                <td class="column_sep"></td>

                <td class="column_150">last processing</td>
                <td class="column_100">status</td>
                <td class="column_20"></td>
                <td class="column_20"></td>
                <td class="column_20"></td>
                <td class="column_20"></td>
                <td class="column_20"></td>
            </tr>
        </thead>
        <tfoot class="db_fixed_footer">
            <tr>
                <td class="column_200" id="footer_number_samples">[[ =str(len(query)) ]] sample(s) </td>
                <td class="column_100"> </td>
                <td>  </td>
                <td>  </td>
                [[if has_shared_sets: ]]<td> </td>[[pass]]
                <td> </td>
                [[if auth.is_admin():]] <td>  </td> [[pass]]
                <td class="column5"> </td>
                <td class="column5"> </td>
                <td class="column5"> </td>

                <td class="column_sep"></td>

                <td class="column2"></td>
                <td class="column_100" style="padding: 2px 5px">
                    [[ launch_sequence_files = [(int(row.sequence_file.id) for row in query if row.results_file.status in ["tasks.STATUS_FAILED",""])]  ]]
                    [[ if len(launch_sequence_files) > 0 and (config_id > 0 and auth.can_use_config(config_id)): ]]
                         Run all
                    [[pass]]
                </td>
                <td class="column5">
                    [[if fused_count >0 and fused_file is not None :]]
                        <a href="DB_ADDRESS[[=URL('default', 'get_data', vars=dict(sample_set_id = request.query['id'], config = config_id, filename=fused_filename), use_appname=False)]]"
                            type="application/octet-stream"><i class="icon-down" title="Download .vidjil file"></i>
                        </a>
                    [[pass]]
                </td>
                <td class="column5">
                    [[if fused_count >0 and fused_file is not None and analysis_count >0 :]]
                        <a href="DB_ADDRESS[[=URL('default', 'get_analysis', vars=dict(sample_set_id = request.query['id'], config = config_id, filename=analysis_filename), use_appname=False)]]"
                            type="application/octet-stream"><i class="icon-down-circled2" title="Download .analysis file"></i>
                        </a>
                    [[pass]]
                </td>
                <td class="column5"></td>
                <td class="column5" id="footer_run_icon">
                    [[if config_id > 0 and auth.can_use_config(config_id) :]]
                        [[if auth.can_process_sample_set(int(request.query['id'])) and (config_id > 0 and auth.can_use_config(config_id)) :]]
                            [[ launch_sequence_files_unavailable = [ int(row.sequence_file.id) for row in query if row.results_file.status in [tasks.STATUS_FAILED,""] ] ]]
                            [[ if len(launch_sequence_files_unavailable) > 0: ]]
                                <span class="pointer" id="launch_all_unanalyzed_samples_[[=config_id]]"
                                        onclick="db.call('default/run_all_request', { 'sequence_file_ids' : [[=launch_sequence_files_unavailable]], 'sample_set_id': [[=request.query["id"]]], 'config_id' : [[=config_id]]} )">
                                    <i class="icon-cog-2" title="Run the selected configuration for all samples not already analysed or failed"> </i>
                                </span>
                            [[pass]]
                        [[pass]]
                    [[pass]]
                </td>
                <td class="column_20"></td>
            </tr>
        </tfoot>
        
        <tbody>
            [[for row in query :]]
                [[ status = row.results_file.status ]]
                [[ has_pre_process = row.sequence_file.pre_process_id != None ]]
                [[ pre_process_status = row.sequence_file.pre_process_flag ]]
                [[ waiting_for_file = (row.sequence_file.data_file == None) or (has_pre_process and row.sequence_file.data_file2 == None and pre_process_status == tasks.STATUS_WAITING) ]]          

                <tr id="row_sequence_file_[[=row.sequence_file.id]]" >
                    <td [[ if waiting_for_file :]] 
                            [[=XML("class='inactive' title='file is missing'+row.sequence_file.filename ")]] 
                        [[else:]] 
                            [[=XML(f"title='{row.sequence_file.filename}'")]] 
                        [[pass]] id="sequence_file_[[=row.sequence_file.id]]" title="[[=row.sequence_file.filename]]">
                        [[if row.sequence_file.network:]]<i class="icon-upload-cloud-outline" title="This file is stored on your lab's network"></i>[[pass]]
		                [[if auth.is_admin():]]([[=row.sequence_file.id]])[[pass]]
                        [[=row.sequence_file.filename]]
                    </td>
                    <td> 
                        [[if row.sequence_file.sampling_date != None:]] 
                        [[=row.sequence_file.sampling_date]] 
                        [[pass]]
                    </td>
                    <td title="[[=row.sequence_file.info]]">
                        [[=tag_decorator.sanitize(tag_decorator.decorate(row.sequence_file.info, 'tag', 'sequence_file', '/sample_set/custom?id=' + request.query['id']))]]
                    </td>
                    <td [[if waiting_for_file :]] [[=XML("class='inactive' title='file is missing' ")]] [[pass]] >
                        [[=vidjil_utils.format_size(row.sequence_file.size_file)]] 
                    </td>
                    [[if has_shared_sets:]]
                        <td>
                        <!-- Select set with this sample -->
                        [[ for sample_set in row.list_share_set:]]
                            <!-- Show values -->
                            <span class="[[ =sample_set['sample_type'] ]]_token set_token" title="[[ =sample_set['title'] ]]" onclick="db.call('sample_set/index', {'id': '[[ =int(sample_set['id']) ]]', 'config_id': -1 })" >
                                [[ =sample_set['title'] ]]
                            </span>
                        [[ pass ]]
                        </td>
                    [[pass]]
                    <td [[if has_pre_process:]] 
                            class="pointer" title="Click to view logs of the pre-process [[=pre_process_list[row.sequence_file.pre_process_id]]]"
                            onclick="db.call('pre_process/info', {'sequence_file_id' :'[[=row.sequence_file.id ]]', 'sample_set_id' : '[[=request.query["id"]]]'} )" 
                        [[pass]]>

                        [[ if pre_process_status == tasks.STATUS_RUNNING : ]]
                            <i class="icon-spin4" style="animation: spin 2s 1000 linear; display: inline-block;" title="running pre_processs"></i>
                        [[ pass ]] 
                        [[ if pre_process_status == tasks.STATUS_WAITING :]][Queued][[ pass ]] 
                        [[ if waiting_for_file: ]]
                            <span title="All the files have not been properly received yet. It this persists, please edit the samples to reupload them.">[Waiting file]</span>
                        [[ pass ]]
                        [[ if pre_process_status == tasks.STATUS_UPLOAD_FAILED :]]
                            [Upload failed] "Edit the samples to reupload them"
                        [[ pass ]]
                        [[ if pre_process_status == tasks.STATUS_FAILED :]]
                            [Failed] <span class="button" onclick="db.call('file/restart_pre_process', {sequence_file_id: [[=row.sequence_file.id]]})">try again</span>
                        [[ pass ]]
                        [[ if row.sequence_file.pre_process_id != None : ]] [[=pre_process_list[row.sequence_file.pre_process_id]]] [[ pass ]]
                     </td>
                    [[if auth.is_admin():]]
                        <td title="[[=row.sequence_file.provider]] [[if row.sequence_file.provider:]][[=row.sequence_file.provider.last_name]][[pass]]">
                            [[=row.sequence_file.provider]] [[if row.sequence_file.provider:]][[=row.sequence_file.provider.last_name]][[pass]]
                        </td>
                    [[pass]]

                    [[if can_modify:]]
                        <td class="pointer" onclick="db.call('file/form', {'file_id' :'[[=row.sequence_file.id]]', 'sample_type': '[[=sample_type]]'} )" >  <i class="icon-pencil-2" title="edit sample information"></i> </td>
                    [[else:]]
                        <td></td>
                    [[pass]]
                    <td> <a [[if waiting_for_file :]] [[=XML("class='inactive' title='file is missing'")]]
                            [[else:]] href="DB_ADDRESS[[=URL('sample_set','download_sequence_file', row.sequence_file.data_file, vars=dict(filename=row.sequence_file.filename), use_appname=False)]]" [[pass]]  ><i class="icon-down" title="Download sequence file"></i></a>
                    </td>
                    [[if can_modify:]]
                        <td class="pointer" onclick="db.call('file/confirm', {'id' :'[[=row.sequence_file.id ]]', 'redirect_sample_set_id' : '[[=request.query["id"]]]'} )" >  <i class="icon-erase" title="delete sample"></i> </td>
                    [[else:]]
                        <td></td>
                    [[pass]]


                    <td class="column_sep"></td>


                    [[if row.results_file.run_date :]]
                        <td class="button" onclick="db.call('results_file/info', { 'results_file_id' : '[[=row.results_file.id]]' } )"> [[=row.results_file.run_date ]]</td>
                    [[else:]]
                        <td></td>
                    [[pass]]

                    [[if row.results_file.id:]]
                        <td id="status_[[=row.sequence_file.id]]_[[=config_id]]"
                            [[if pre_process_status in [tasks.STATUS_RUNNING, tasks.STATUS_WAITING] :]]
                                > PREPROCESSING
                            [[ else:]]
                                class="button" onclick="db.call('results_file/info', { 'results_file_id' : '[[=row.results_file.id]]' } )"> [[=status]]
                            [[ pass]]
                        </td>
                        <td>
                            [[if row.results_file.data_file:]]
                                <a href="DB_ADDRESS[[=URL('default', 'download', row.results_file.data_file, vars=dict(filename='result-%s-%s.txt' % (request.query['id'], row.results_file.id)), use_appname=False)]]"
                                type="application/octet-stream"><i class="icon-down" title="Download result file"></i>
                                </a>
                            [[pass]]
                        </td>
                        <td [[if status in [tasks.STATUS_COMPLETED, tasks.STATUS_FAILED]:]] class="pointer" onclick="db.call('results_file/output', { 'results_file_id' : '[[=row.results_file.id]]' }) " [[else:]] class="inactive" [[pass]]><i class="icon-docs" title="See the output files"></i></td>
                        [[if can_modify and auth.can_process_sample_set(int(request.query['id'])):]]
                            <td id="delete_process_[[=row.sequence_file.id]]" class="pointer" onclick="db.call('results_file/confirm', {'results_file_id' :'[[=row.results_file.id]]', 'sample_set_id': '[[=request.query["id"]]]'})" >  <i class="icon-erase" title="delete process"></i> </td>
                        [[else:]]
                            <td></td>
                        [[pass]]
                    [[else:]]
                        <td id="status_[[=row.sequence_file.id]]_[[=config_id]]"></td><td></td><td></td><td></td>
                    [[pass]]
                    <td>
                        [[if row.sequence_file.data_file != None and (status not in [tasks.STATUS_RUNNING, tasks.STATUS_QUEUED, tasks.STATUS_WAITING]) and (not has_pre_process or (row.sequence_file.pre_process_flag != None and row.sequence_file.pre_process_flag != tasks.STATUS_FAILED)) :]]
                            [[if auth.can_process_sample_set(int(request.query['id'])) and (config_id > 0 and auth.can_use_config(config_id)) :]]
                                <span class="pointer" id="launch_[[=row.sequence_file.id]]_[[=config_id]]"  onclick="db.call('default/run_request', { 'sequence_file_id' : '[[=row.sequence_file.id]]', 'sample_set_id' : [[=request.query["id"]]], 'config_id' : [[=config_id]] } )"><i class="icon-cog-2" title="Run a process with the selected configuration for this file"></i></span>
                            [[pass]]
                        [[pass]]
                    </td>
                   
                    [[if row.results_file.id and row.results_file.data_file:]]
                        <td>
                            <a id="open_sample_result_[[=row.sequence_file.id]]" class="button" href="[[=http_origin]]?custom=[[=row.results_file.id]]&sample_set_id=[[=request.query['id']]]&config=[[=config_id]]" type="text/html"
                                    onclick= "event.preventDefault();
                                            if( event.which == 2 ) { window.open(this.href); }
                                            else { myUrl.loadCustomUrl(db, {'custom': '[[=row.results_file.id]]', 'sample_set_id' : [[=request.query['id']]], 'config' : [[=config_id]]  } ); } " >
                                <i class="icon-forward" title="open this sample results in client"></i>
                            </a>
                        </td>
                    [[else:]]
                        <td></td>
                    [[pass]]
                </tr>
            [[pass]]
        </tbody>

        
    </table>
    <table class="db_table" id="db_fixed_header"></table>

    <br/>
    <br/>

    [[if can_modify:]]
        <i class="icon-pencil-2 pointer" title="edit information" onclick="db.call('sample_set/form', { 'id' : '[[=request.query["id"]]]' } )" > </i>
    [[pass]]

    [[ text = tag_decorator.decorate(info["info"], 'tag', sample_type, '/sample_set/all') ]]
    [[=tag_decorator.sanitize(text)]]

    [[if can_upload: ]]
        [[if not auth.can_process_sample_set(int(request.query['id'])) :]]
            <br /> Once your data are uploaded, please
            <a href="mailto:support@vidjil.org?Subject=%5Bvidjil%5D%20New%20sequences%20(user%20[[=auth.user_id]])&Body=%0AHi%2C%0A%0AI%20uploaded%20some%20sequences%20on%20the%20[[=request['HTTP_HOST']]]%20server%20(set%20[[=request.query['id']]]).%0ACould%20you%20run%20Vidjil%20on%20these%20data%20%3F%0A%0A">request an analysis</a>.
        [[pass]]
    [[pass]]
</div>


<div class="db_block">

    <div class="db_block_left">
        [[if can_upload: ]]
            <span id="add_sample_button" class="button2" onclick="db.call('file/form', { 'sample_set_id' : '[[=request.query["id"]]]' } )"> + add samples </span>
        [[pass]]
        <span class="button2" onclick="db.call('sample_set/custom', {'id': '[[=request.query['id']]]', 'filter': ''} )">compare some of these samples</span>
    </div>

    [[results_rows = db((db.fused_file.sample_set_id == request.query["id"]) & 
        (auth.vidjil_accessible_query(PermissionEnum.read_config.value, db.config) | auth.vidjil_accessible_query(PermissionEnum.admin_config.value, db.config) ) &
        (db.config.id ==db.fused_file.config_id)).select(db.config.name, db.config.id, db.fused_file.sample_set_id, distinct=True)]]
    [[if len(results_rows) > 0:]]
        <div class="db_block_right">
            See results and preview/quality:
            [[for row in results_rows:]]
                <span type="button" class="double_button">
                    <a class="double_button__part1" href="[[=http_origin]]?sample_set_id=[[=request.query["id"]]]&config=[[=row.config.id]]" type="text/html"
                        id="result_sample_set_id_[[=request.query['id']]]_config_[[=row.config.id]]" title="Display results for config [[=row.config.name]]"
                        onclick="event.preventDefault()
                                if (event.which == 2) { window.open(this.href) }
                                else { myUrl.loadUrl(db, { 'sample_set_id' : '[[=request.query["id"]]]' , 'config' : [[=row.config.id]] }, '[[=info["filename"]]]' ) }" >
                        [[=row.config.name]] <span class="icon-chart-bar"></span>
                    </a>
                    <span class="double_button__part2" type="text/html" id="qc_sample_set_id_[[=request.query['id']]]_config_[[=row.config.id]]" title="Preview / quality control for config [[=row.config.name]]"
                        onclick="db.call('sample_set/multi_sample_stats',{'sample_set_id': [[=request.query['id']]], 'config_id' : [[=row.config.id]]})" >
                        <span class="icon-table"></span>
                    </span>
                </span>
            [[pass]]
        </div>
    [[pass]]

</div>
