Source: vidjil-browser
Section: misc
Priority: optional
Maintainer: Vidjil Team <team@vidjil.org>
Build-Depends: debhelper (>=9), dh-systemd (>= 1.5)
Standards-Version: 3.9.7
Homepage: http://www.vidjil.org
#Vcs-Git: git://anonscm.debian.org/collab-maint/vidjil-server.git
#Vcs-Browser: https://anonscm.debian.org/cgit/collab-maint/vidjil-server.git

Package: vidjil-browser
Architecture: all
Depends: vidjil, vidjil-germline, ${misc:Depends}
Description: Vidjil visualisation tool
 A javascript based visualisation tool for the vidjil application and
 interfacing with the vidjil server.
