[[extend 'db_layout.html']]
[[from apps.vidjil.modules import vidjil_utils]]

<h3></h3>

<div id="block_left">
    table:
    [[=SELECT(*[OPTION(elem) for elem in ['all', 'patient', 'run'] ], _id="table_selector", _name="table", _onchange="db.call('log/index', {'table': this.value})", value=stable)]]
    id:
    [[=SELECT(*[OPTION(tup[1], _value=tup[0]) for tup in ([(0, 'None')] + data_list)], _id="id_selector", _name="id", _onchange="db.call('log/index', {'table': $('#table_selector').val(), 'id': this.value})", value=sid)]]
</div>
<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr>
            <td class='column_200 pointer'>user</td>
            <td class='column_100 pointer'>table</td>
            <td class='pointer'>message</td>
            <td class='column_100 pointer'>name</td>
            <td class='column_200 pointer'>created</td>
            </tr>
        </thead>
        [[ for row in query: ]]
        <tr>
            <td>[[="%s %s" % (row.auth_user.first_name, row.auth_user.last_name)]]</td>
            <td>[[=row.user_log.table_name]]</td>
            <td>[[=row.user_log.msg]]</td>
            <td>[[=row.names]]</td>
            <td>[[=row.user_log.created]]</td>
        </tr>
        [[ pass ]]
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>
