[[extend 'db_layout.html']]
[[from apps.vidjil.modules import vidjil_utils]]

<h3 id="page_user_logs" style="display: none;">Logs</h3>

<div id="block_left">
    table:
    <select id="table_selector" name="table" onchange="db.call('log/index', {'table': this.value})" value=stable>
    [[for elem in ['all', 'patient', 'run']:]]
        <option [[if elem==request.query.table:]]selected[[pass]]>[[ =elem ]] </option>
    [[pass]]
    </select>

    id:
    <select id="id_selector" name="id" onchange="db.call('log/index', {'table': $('#table_selector').val(), 'id': this.value})" value=sid>
        [[for tup in ([(0, 'None')] + data_list):]]
            <option value="[[ =tup[0] ]]" [[if str(tup[0])==request.query.id:]]selected[[pass]]>[[ =tup[1] ]] </option>
        [[pass]]
    </select>
</div>
<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr>
            <td class='column_200 pointer'>user</td>
            <td class='column_100 pointer'>table</td>
            <td class='pointer'>message</td>
            <td class='column_100 pointer'>name</td>
            <td class='column_200 pointer'>created</td>
            </tr>
        </thead>
        [[ for row in query: ]]
        <tr>
            <td>[[="%s %s" % (row.auth_user.first_name, row.auth_user.last_name)]]</td>
            <td>[[=row.user_log.table_name]]</td>
            <td>[[=row.user_log.msg]]</td>
            <td>[[=row.names]]</td>
            <td>[[=row.user_log.created]]</td>
        </tr>
        [[ pass ]]
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>
