html{
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 1252px
}

body {
  background: none repeat scroll 0 0 #101010;
  color: white;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 14px;
  height : 100%;
  margin-bottom:0px;
  margin-top:0px;
}

ul {
list-style-type: none;
}

#topbar { 
  width: 100%;
  height : auto;
  background : #152525;
}

#mid-container {
  height: -moz-calc(100% - 10px);
  height: -webkit-calc(100% - 10px);
  height: calc(100% - 10px);
  width : 100%;
  background : #202010;
}

#left-container {
  height:100%;
  width : 380px;
  height : 100%;
  background : #352515;
  overflow-y : none;
  float : left;
  font-family : monaco,terminal,courier,system; 
  font-size: 12px;
}

#visu {
  background : #201020;
  display : inline-block;
  height : 70%;
  width: -moz-calc(100% - 380px);
  width: -webkit-calc(100% - 380px);
  width: calc(100% - 380px);
}
#visu2 {
  background : #101020;
  display : inline-block;
  height : 30%;
  width: -moz-calc(100% - 380px);
  width: -webkit-calc(100% - 380px);
  width: calc(100% - 380px);
}

#bot-container {
  width : 100%;
  position : fixed;
  bottom :0px;
  background : #102020;
  padding : 5px;
}

#align {
width: auto;
height: 100px;
background-color: #101010;
overflow: auto;
margin-left: 380px;

}

.listElem{
  width :350px;
  margin: auto;
  padding: 3px;
  margin: 5px;
  cursor:pointer;
  -moz-transition: background-color  1.5s;
  -webkit-transition: background-color 1.5s;
  -o-transition: background-color  1.5s;
  -ms-transition: background-color 1.5s;
  transition: background-color 1.5s;
}

.button {
    cursor:pointer;
    font-size: 14px;
    padding: 3px;
    margin :3px;
    margin-right:5px;
    margin-left:5px;
    text-decoration:underline;
}

.button:hover {
    cursor: pointer;
    color: grey;
    font-weight: bold;
}

circle:hover {
  cursor:pointer;
}

#menu{
  background : #301020;
  height :200px;
}
#info{
  background : #102020;
  height :100px;
}

#listJ{
  height : calc(100% - 300px);
  height : -webkit-calc(100% - 300px);
  height : -moz-calc(100% - 300px);
  overflow-y : scroll;
  overflow-x : hidden;
  font-weight: bold;
  color: #333;
}

.vjLegend{
  font-weight : bold;
}

.vjline1{
  stroke-width : 0.6px;
}
.vjline2{
  stroke-width : 0.6px;
  stroke-dasharray: 2,2;
}

.sequence-line {
  font-family: Courier New, monospace;
  letter-spacing: 0.1em;
  width: 100%;
  font-weight: bold;
}

