{{extend 'db_layout.html'}}
{{import vidjil_utils}}

<div>
    <h3>User info</h3>
    
    <div id="db_table_container">
        <table class="db_table" id="table">
            <thead>
                <tr><td class="column1"> user name</td>
                    <td> @</td>
                    <td class="colum1">patients created </td>
                    <td class="colum1">files provided </td>
                </tr>
            </thead>
            
           {{for row in query :}}
               <tr onclick="db.call('user/info', {'id' :'{{=row.id}}'} )">
                    <td> {{=vidjil_utils.anon(row.id, auth.user_id)}} </td>
                    <td> {{=row.email}}  </td>
                    <td> {{=row.created}}  </td>
                    <td> {{=row.files}} ({{=vidjil_utils.format_size(row.size)}}) </td>
                </tr>
           {{pass}}
        
        </table>
        <table class="db_table" id="db_fixed_header"></table>
    </div>

</div>
