{{extend 'db_layout.html'}}
{{import vidjil_utils}}

    <h3>Users</h3>
    
    <div id="db_table_container">
        <table class="db_table" id="table">
            <thead>
                <tr><td class="column_50">id</td>
                    <td class="column_200"> name</td>
                    <td class="column_200"> @</td>
                    <td class="column_50">access</td>
                    <td class="column_100">groups</td>
                    <td class="column_50">patients created </td>
                    <td class="column_100">files uploaded </td>
                </tr>
            </thead>
            
           {{for row in query :}}
               <tr class="pointer" onclick="db.call('user/info', {'id' :'{{=row.id}}'} )">
                    <td> {{=row.id}}</td>
                    <td> {{=row.first_name}} {{=row.last_name}}</td>
                    <td> {{=row.email}}  </td>
                    <td> {{=row.access}}  </td>
                    <td> {{=row.groups}}  </td>
                    <td> {{=row.created}}  </td>
                    <td> {{=row.files}} ({{=vidjil_utils.format_size(row.size)}}) </td>
                </tr>
           {{pass}}
        
        </table>

        <table class="db_table" id="db_fixed_header"></table>
    </div>

<span class="button2" onclick="db.call('default/user/register');">+ new user</span>

