{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}

{{
id = request.vars["id"]
query = db( 
        (db.auth_user.id == id) 
        & (db.auth_membership.user_id == db.auth_user.id) 
        & (db.auth_membership.group_id == db.auth_group.id) 
    ).select() 
}}

<div>

    <div>
        <h3>{{=message}} {{=db.auth_user[id].first_name}} {{=db.auth_user[id].last_name}} </h3>
    </div>
    
    <div class="db_block">
        <div class="db_block_left">
            create patient 
            <input type="checkbox" name="patient" onclick="db.user_rights(this.checked, this.name, 'create', {{=id}});" {{if auth.has_permission('create', 'patient', 0, id) :}}{{="checked"}}{{pass}}>
            
            upload sequence
            <input type="checkbox" name="sequence_file" onclick="db.user_rights(this.checked, this.name, 'upload', {{=id}});" {{if auth.can_upload_file(user=id) :}}{{="checked"}}{{pass}}>
            
            run vidjil
            <input type="checkbox" name="results_file" onclick="db.user_rights(this.checked, this.name, 'run', {{=id}});" {{if auth.can_process_file(id) :}}{{="checked"}}{{pass}}>
            
            </br>
            <!--create config <input type="checkbox" name="config" onclick="db.test(this.checked, this.name, {{request.vars["id"]}});"></br>-->
        </div>
    </div>
    
    <div id="db_table_container">
        <table class="db_table" id="table">
            <thead>
                <tr><td class="column1">group name</td>
                    <td>access</td>

                    <td class="column5"> </td>
                </tr>
            </thead>
            <tbody>
                {{for row in query :}}
                    {{if row.auth_group.role[:5] != "user_" :}}
                         <tr>
                            <td>{{=row.auth_group.role}}</td>
                            <td>{{if auth.can_modify_group(row.auth_group.id, request.vars["id"]) :}}
                                admin
                                {{else:}}
                                member
                                {{pass}}
                            </td>
                            <td> X </td>
                        </tr>
                    {{pass}}
                {{pass}}
            </tbody>
        </table>
        <table class="db_table" id="db_fixed_header"></table>
    </div>
    
    <span class="button" onclick="db.call('user/index')"> back to list </span>
    
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
