{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}

{{
id = request.vars["id"]
query = db( 
        (db.auth_user.id == id) 
        & (db.auth_membership.user_id == db.auth_user.id) 
        & (db.auth_membership.group_id == db.auth_group.id) 
    ).select() 
}}

<div>

    <div>
        <h3>{{=message}} {{=db.auth_user[id].first_name}} {{=db.auth_user[id].last_name}} </h3>
    </div>
    
    
    <div id="db_table_container">
        <table class="db_table" id="table">
            <thead>
                <tr><td class="column_100">group name</td>
                    <td>access</td>

                    <td class="column_20"> </td>
                </tr>
            </thead>
            <tbody>
                {{for row in query :}}
                         <tr>
                            <td>{{=row.auth_group.role}}</td>
                            <td>{{if auth.can_modify_group(row.auth_group.id, request.vars["id"]) :}}
                                admin
                                {{else:}}
                                member
                                {{pass}}
                            </td>
                            <td> X </td>
                        </tr>
                {{pass}}
            </tbody>
        </table>
        <table class="db_table" id="db_fixed_header"></table>
    </div>
    
    <span class="button" onclick="db.call('user/index')"> back to list </span>
    
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
