
/* default color solarizeD */
@default : #839496; 
@background : #002b36; 
@highlight : #073642; 
@select : #fdf6e3; 
@secondary : #586e75; 
@border : #284e55;    


@background : #000000; 
@border: #333333;

@import "vidjil.less";

