/* default color solarizeL */
.segmenter .axisBox > span {
  margin: 0 3px;
  background: #ffffff;
}
.bot-bar {
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  border-color: #ddd;
  border: solid;
  border-width: 1px;
}
.stats {
  position: absolute;
  text-align: right;
  float: right;
  max-width: 347px;
  padding: 2px 0px;
  overflow: hidden;
  height: 16px;
  right: 0px;
  top: 1px;
}
.list_select {
  display: block;
  border: solid;
  border-width: 2px;
  padding: 0px;
  border-color: #002b36;
}
.list_focus {
  background: #ddd !important;
}
.sequence-line {
  white-space: nowrap;
  height: 30px;
}
/*
  .sequence-line:hover { 
      font-weight: bold;
  }
  */
.seq-fixed {
  position: relative;
  display: flex;
  width: 445px;
  height: 30px;
  margin: -2px;
  padding: 5px;
  left: 0px;
  cursor: pointer;
  z-index: 5;
}
.seq-mobil {
  font-family: monospace;
  top: 0px;
  left: 455px;
  position: absolute;
  font-size: 1em;
  display: inline-block;
  height: 30px;
}
.seq-marge {
  word-spacing: normal;
}
.V {
  color: #000;
  background-color: #efe;
}
.D {
  color: #000;
  background-color: #fee;
}
.J {
  color: #000;
  background-color: #ffffe2;
}
.N,
.N + .J,
.N + .D {
  box-shadow: -1px 0 0 #657b83;
}
.highlight_border,
.highlight_seq {
  display: inline-flex;
  height: 1em;
  position: relative;
}
.highlight_border {
  border-bottom: solid;
  margin: -1px;
  border-width: 4px;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  opacity: 0.3;
  bottom: 1px;
}
.highlight_seq {
  top: 0.9em;
  padding-bottom: 1px;
  opacity: 0.6;
  font-size: 70%;
  letter-spacing: 0.428em;
  /* (1-.7) / .7 */
  left: 0.214em;
}
.highlight {
  display: inline-block;
  width: 0px;
  word-spacing: normal;
}
span .substitution,
span .indel,
span .insertion,
span .deletion {
  font-weight: bold;
  color: #800;
}
span .substitution {
  border-bottom: 1px solid #800;
}
span .silent {
  border-bottom: 3px double #008;
  color: #008;
}
span .end-codon {
  box-shadow: 1px 0 0 #657b83;
}
.seq-fixed {
  background: #ffffff;
}
.menu-segmenter {
  position: relative;
  float: left;
  width: 475px 200;
}
#toIMGTSeg {
  width: 12px;
  display: inline-block;
  text-align: center;
}
.menu-highlight {
  position: relative;
  float: left;
  width: eval(300px);
}
.segmenter {
  overflow-x: scroll !important;
  overflow-y: auto;
  min-height: 130px;
  margin-top: 1px;
  max-height: 500px;
}
#segmenter {
  display: flex;
  flex-flow: column;
}
#highlightCheckboxes {
  height: 100%;
  float: left;
}
.seq-fixed {
  bottom: 1px;
}
.aligner-menu {
  display: inline-block;
  padding: 2px 10px;
}
.aligner-menu:hover {
  cursor: pointer;
  background-color: #ddd;
}
.aligner-button {
  cursor: pointer;
  font-size: 13px;
  min-width: 16px;
  color: #657b83;
}
.aligner-menu:hover .menu-content {
  display: block;
}
.aligner-checkbox-label {
  display: block;
}
.menu-content {
  display: none;
  position: absolute;
  bottom: 20px;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-left: -10px;
}
.menu-content a {
  padding: 8px 12px;
  text-decoration: none;
  display: block;
}
.menu-content label {
  padding: 8px 12px;
  text-decoration: none;
  cursor: pointer;
}
.menu-content a:hover {
  background-color: #ddd;
}
.menu-content label:hover {
  background-color: #ddd;
}
.seq_layer {
  position: absolute;
  top: 0px;
}
.seq_layer_text {
  position: absolute;
  top: 5px;
  z-index: 3;
}
.seq_layer_text2 {
  position: absolute;
  top: 20px;
  -webkit-transform: scale(1, 0.5);
  /* Safari and Chrome */
  -moz-transform: scale(1, 0.5);
  /* Firefox */
  -ms-transform: scale(1, 0.5);
  /* IE 9 */
  -o-transform: scale(1, 0.5);
  /* Opera */
  transform: scale(1, 0.5);
  /* W3C */
}
.seq_layer_highlight {
  border-left: solid black 1px;
  border-right: solid black 1px;
  opacity: 0.15;
  height: 15px;
  top: 5px;
  margin-left: -2px;
  padding-right: 4px;
}
.seq_layer_bracket {
  height: 2px;
  top: 21px;
  border: solid;
  border-top: none;
  border-width: 2px;
  margin: -2px;
  opacity: 0.6;
  z-index: 1;
  margin-left: -3px;
  padding-right: 2px;
}
.seq_layer_bracket_top {
  height: 2px;
  top: 4px;
  border: solid;
  border-bottom: none;
  border-width: 2px;
  margin: -2px;
  opacity: 0.6;
  z-index: 1;
  margin-left: -3px;
  padding-right: 2px;
}
.seq_layer_underline {
  border-left: solid black 1px;
  border-right: solid black 1px;
  height: 3px;
  top: 18px;
  opacity: 0.3;
  z-index: 2;
  margin-left: -2px;
  padding-right: 4px;
}
.seq_layer_quality {
  height: 5px;
  top: 24px;
  z-index: 2;
}
.seq_quality_block {
  opacity: 1;
  height: 5px;
  float: left;
}
.seq_quality_block:hover {
  opacity: 0.5;
}
.seq_layer_bracket:hover,
.seq_layer_bracket_top:hover {
  border-width: 4px;
  opacity: 1;
}
.seq_layer_underline:hover {
  height: 5px;
  opacity: 1;
}
#aligner-open-button {
  display: block;
  position: absolute;
  width: 100%;
  height: 12px;
  background: white;
  right: auto;
  text-align: center;
  line-height: 0px;
  height: 16px;
  padding-top: 4px;
  padding-left: 100px;
}
#aligner-open-button:hover {
  background: #fdf6e3;
}
#aligner-left {
  position: relative;
  width: 420px;
}
.aligner-inline-button {
  padding: 0px 5px;
}
.aligner-inline-button:hover {
  cursor: pointer;
  background-color: #ddd;
}
/* base Vidjil style */
/* @default, @background, @highlight, @select, @secondary and @border have to be defined */
/* #dcffed also available */
#vmi-menu {
  top: 32px;
  right: 0;
  width: unset;
  background-color: #ffffff;
  margin: 6px 0 0 0;
}
#vmi-menu div {
  padding: 5px;
  border: 1px solid;
}
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 1160px;
  min-height: 250px;
}
body {
  display: flex;
  flex-flow: column;
  overflow-x: hidden;
  background: #ddd;
}
body,
svg {
  font-family: ubuntulight, Arial, Helvetica, Sans-serif;
  font-size: 13px;
  height: 100%;
  margin: 0px;
  color: #657b83;
}
.cloneName {
  font-family: ubuntumedium, Arial Bold, Helvetica, Sans-serif;
}
.cloneName,
.listElem .cloneName {
  bottom: 1px;
}
/* for FF override */
textarea {
  font-family: ubuntulight, Arial, Helvetica, Sans-serif;
  font-size: 100%;
}
/* texts that are not sequences nor identifiers */
h2 {
  margin-top: 2px;
}
ul {
  padding-left: 2px;
  margin-top: 3px;
  list-style-type: none;
}
#visu-container {
  position: relative;
  display: flex;
  flex: 1 1 auto;
  flex-flow: column;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  margin: -1px 0px;
}
#top-container {
  flex: 0 1 auto;
  height: 32px;
  width: 100%;
  background: #ffffff;
  border: solid;
  border-width: 1px;
  margin: 1px;
}
#top-container.alert {
  background: yellow;
}
#alert {
  font-weight: bold;
  color: red;
}
#tip-container {
  position: absolute;
  float: right;
  z-index: 50;
  right: 0px;
  top: 32px;
}
#live-ajax-msg {
  font-style: italic;
  margin-right: 1em;
}
#upload_summary {
  display: none;
  z-index: 10;
  background-color: #ffffff;
}
.upload_field {
  width: 100%;
}
#menu-container {
  background: inherit;
}
.scatterplot,
.graph {
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
}
#vidjil-panels {
  position: fixed;
  top: 32px;
  left: 0;
  bottom: 155px;
  background: #ffffff;
  margin: 6px 0px;
  display: flex;
  flex: auto;
  overflow: hidden;
}
.vidjil-panels-left {
  width: calc(100% - 6px - 70px);
}
.vidjil-panels-full {
  width: 100%;
}
#mid-container {
  position: fixed;
  display: flex;
  flex: 1 1 auto;
  top: 32px;
  bottom: 155px;
  width: 100%;
  overflow: hidden;
  background: #ffffff;
  margin: 3px 0px 0px 0px;
}
#right-container {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  float: right;
  width: 475px;
}
#left-container {
  display: flex;
  flex: 1 0 auto;
  flex-flow: column;
  position: relative;
  width: 475px;
  overflow-y: none;
  -khtml-user-select: auto;
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  margin-right: 5px;
}
#visu,
#visu2 {
  height: 50%;
  display: flex;
  flex: auto;
  width: 100%;
}
#visu2 {
  max-height: calc(100% - 6px);
}
#visu3 {
  height: 100%;
}
line {
  stroke: #93a1a1;
  stroke-width: 0.5;
}
/* left-container - info */
#info {
  flex: 0 0 auto;
  font-size: 13px;
  padding: 3px;
  background: #ffffff;
}
.info_line {
  border-bottom: solid;
  border-bottom-width: 1px;
  border-color: #ddd;
}
.locus_line {
  text-align: center;
}
.info_row {
  min-width: 100px;
  display: inline-block;
}
.locus_row {
  margin: 0 10px;
  display: inline-block;
  text-align: left;
}
.info_row_content {
  width: 100%;
  display: inline-block;
}
#info_data_file {
  font-size: 200%;
}
/*Style polyline / graph*/
.background_graph {
  fill: #ffffff;
}
.background_graph2 {
  fill: #ffffff;
}
.graph_line {
  stroke-width: 1.5px;
  cursor: pointer;
  stroke: #657b83;
}
.graph_data {
  fill: none;
  stroke-width: 8px;
  opacity: 0.3;
  cursor: pointer;
}
.graph_data:hover {
  opacity: 0.8;
}
.graph_inactive {
  stroke-width: 0.5px;
  cursor: pointer;
  display: none;
}
.graph_select {
  stroke-width: 5px;
  cursor: pointer;
  stroke-dasharray: 20px,5px ;
  stroke: #657b83;
}
.graph_focus {
  stroke-width: 5px;
  cursor: pointer;
  stroke: #002b36;
}
.axis_m {
  stroke: #657b83;
  opacity: 0.5;
  stroke-width: 20px;
}
.axis_m_other {
  stroke: #657b83;
  opacity: 0.25;
  stroke-width: 10px;
  display: none;
}
.axis_h {
  stroke: #657b83;
}
.axis_v {
  display: none;
}
.axis_v_hidden,
.axis_h_hidden {
  display: none;
}
.axis_button,
.axis_leg {
  fill: #657b83;
}
#resolution1 {
  fill: #ffffff;
  opacity: 1;
  pointer-events: none;
}
#resolution5 {
  fill: #ffffff;
  opacity: 0.6;
  pointer-events: none;
}
.graph_time {
  fill: #657b83;
  text-anchor: middle;
  font-size: 100%;
}
.graph_time2 {
  font-weight: bold;
  fill: #657b83;
  text-anchor: middle;
  font-size: 120%;
}
.graph_text {
  font-weight: bold;
  fill: #657b83;
  text-anchor: end;
  dominant-baseline: middle;
}
.graph_text2 {
  font-weight: bold;
  fill: #657b83;
}
.graph_time:hover {
  cursor: pointer;
  fill: #002b36;
}
.graph_menu {
  position: absolute;
  top: -1px;
  right: -1px;
  min-width: 22px;
  min-height: 18px;
  text-align: center;
  border: solid;
  background: #ffffff;
  z-index: 1;
  overflow: auto;
  max-height: 100%;
  border-width: 1px;
  padding: 2px;
}
.graph_list {
  display: none;
}
.graph_listAll:hover,
.graph_listElem:hover {
  background: #ddd;
  width: 100%;
  cursor: pointer;
  cursor: webkit-grab;
}
.graph_listElem_selected {
  font-weight: bold;
}
/*style scatterPlot element*/
.background_sp {
  fill: #ffffff;
}
.circle {
  cursor: pointer;
  -webkit-transition: fill 0.2s;
  -o-transition: fill 0.2s;
  -ms-transition: fill 0.2s;
  transition: fill 0.2s;
  fill: #657b83;
  stroke-width: 4px;
}
.circle_inactive {
  cursor: pointer;
  opacity: 0.5;
}
.circle_select {
  stroke-width: 2.5px;
  stroke: #002b36;
  cursor: pointer;
  fill: #657b83;
}
.circle_focus {
  cursor: pointer;
  fill: #002b36;
}
.circle_hidden {
  -webkit-transition: fill 0.2s;
  display: none;
}
.line_active {
  opacity: 1;
  stroke-width: 4px;
}
.line_inactive {
  display: none;
}
.sp_legend {
  fill: #657b83;
  font-weight: bold;
  text-anchor: middle;
  dominant-baseline: middle;
  cursor: pointer;
}
.sp_legend2 {
  fill: #657b83;
  opacity: 0.4;
  text-anchor: middle;
  dominant-baseline: middle;
}
.sp_system {
  display: flex;
  position: absolute;
  top: -0.5em;
}
.sp_system_label {
  color: #657b83;
  height: 0px;
  position: relative;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.sp_system_label:hover {
  color: #002b36;
  cursor: pointer;
}
.sp_rotated_legend {
  fill: #657b83;
  font-weight: bold;
  text-anchor: left;
  cursor: pointer;
}
.sp_legend_focus {
  fill: #002b36;
  font-weight: bold;
  text-anchor: middle;
}
.sp_hidden_legend {
  display: none;
}
.sp_line,
.sp_subline {
  stroke: #657b83;
}
.sp_subline {
  stroke-width: 0.5px;
  stroke-dasharray: 6,6;
}
.sp_subline_hidden {
  stroke-width: 0px;
}
/*style list/data element*/
/*Metric*/
.list:hover,
.tagElem:hover,
.data:hover {
  background: #ddd;
}
#list {
  flex: 1 1 auto;
  height: 0px;
  min-height: 20%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
}
#data {
  flex: 0 1 auto;
  border: none;
}
#list_clones {
  flex: 0 1 auto;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 100%;
  padding: 2px;
}
#list_data {
  display: block;
  border-width: 4px;
  border-color: #ddd;
  overflow-y: scroll;
}
.data_name {
  margin-left: 40px;
  width: 300px;
  margin-right: 10px;
  display: inline-block;
}
.data {
  padding-right: 30px;
}
.list {
  padding: 2px;
}
.listElem {
  font-size: 13px;
  cursor: pointer;
  -webkit-transition: color 0.2s;
  -o-transition: color 0.2s;
  -ms-transition: color 0.2s;
  transition: color 0.2s;
  padding: 1px 4px 4px 1px;
  height: 14px;
  display: flex;
}
.selected {
  color: #002b36;
}
.nameBox {
  margin-right: 10px;
  overflow: hidden;
  display: inline-block;
  height: 16px;
  position: relative;
  white-space: nowrap;
  flex: 1 1000 auto;
}
.list .axisBox,
.axisBox span {
  max-width: 52px;
  overflow: hidden;
  display: inline-block;
  max-height: 16px;
  position: relative;
}
.identityBox {
  font-family: ubuntulight, Arial, Helvetica, Sans-serif;
  text-align: right;
}
.identityBad {
  color: #800;
}
.identityGood {
  color: #080;
}
.starBox {
  width: 16px;
  height: 16px;
  display: inline-flex;
  user-select: none;
  overflow: hidden;
}
.thumbBox {
  width: 16px;
  float: right;
  height: 16px;
  display: inline-block;
  user-select: none;
  overflow: hidden;
}
.infoBox {
  font-size: 90%;
  width: 16px;
  height: 15px;
  display: inline-flex;
  user-select: none;
  text-align: center;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  border-radius: 5px;
  margin: 0px 1px;
}
.infoBox:hover {
  background: #fdf6e3;
}
.infoBox-open {
  background: #ddd;
}
.systemBox,
.systemBoxMenu {
  display: inline-block;
  width: 12px;
  height: 12px;
  line-height: 12px;
  vertical-align: middle;
  text-align: center;
  border-radius: 3px;
  border-width: 1px;
  margin: 2px 2px 2px 2px;
  color: #fff;
  color: rgba(255, 255, 255, 0.7);
  font-size: 70%;
  background: #ddd;
  float: left;
}
.systemBox {
  float: left;
}
.systemBoxNameMenu {
  display: inline-block;
  min-width: 50px;
  padding: 2px 2px 1px 2px;
  cursor: pointer;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
.hiddenCheckBox {
  display: none;
}
.clusterBox {
  width: 16px;
  float: left;
  height: 12px;
  display: inline-block;
  text-align: center;
}
.delBox {
  height: 12px;
  width: 12px;
  display: inline-block;
  float: left;
  user-select: none;
  margin-right: 8px;
  margin-left: 2px;
}
#new_name {
  font-family: monospace;
  font-weight: bold;
}
.list_sort {
  margin-right: 20px;
  float: right;
}
/*tag*/
.tagSelector {
  padding: 5px;
  position: absolute;
  left: 475px;
  top: 195px;
  width: 220px;
  border: solid;
  display: none;
  background: #ffffff;
}
#clone_axes_selector {
  padding: 5px;
  position: absolute;
  left: 475px;
  top: 195px;
  width: 220px;
  border: solid;
  background: #ffffff;
  z-index: 15;
}
.dataMenu {
  padding: 5px;
  position: absolute;
  left: 475px;
  bottom: 195px;
  width: 220px;
  border: solid;
  display: none;
  background: #ffffff;
}
.tagElem {
  margin: 1px;
  height: 20px;
}
.tagElem:hover {
  border-color: white;
  cursor: pointer;
  color: #002b36;
}
.tagColorBox {
  margin: 3px;
  height: 14px;
  width: 14px;
  display: inline-block;
  cursor: pointer;
  user-select: none;
  margin-bottom: -3px;
  margin-top: 3px;
  background: #657b83;
}
#normalized_size {
  width: 80px;
}
/*menu*/
.menu {
  padding: 8px;
  float: left;
  cursor: pointer;
  background: inherit;
}
.menu:hover {
  cursor: pointer;
  background-color: #ddd;
}
.menu:hover .selector {
  display: block;
}
.menu a {
  text-decoration: none;
  color: inherit ;
}
.submenu {
  width: 200px;
  display: inline-table;
}
.menu_box {
  margin: 0px;
  padding: 5px;
  border-top: solid;
  border-width: 1px;
  border-color: #ddd;
  text-indent: 5px;
}
.submenu {
  width: 200px;
  display: inline-table;
}
.menu_box {
  margin: 0px;
  padding: 5px 0px;
  border-top: solid;
  border-width: 1px;
  border-color: #ddd;
}
.div-menu-selector {
  float: right;
  margin: -2px 0px 0px 5px;
}
.menu-selector {
  background: #ffffff;
  color: #657B83;
  height: 18px;
  width: 60px;
  -webkit-appearance: none;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
}
#file_menu,
#axis_choice,
#add_clone_menu,
#settings_export_menu {
  z-index: 2;
  position: fixed;
  top: 200px;
  min-width: 400px;
  margin-left: -250px;
  left: 50%;
  font-size: 13px;
  padding: 20px;
  background: #ffffff;
  display: none;
  border: solid;
  border-width: 1px;
  border-color: #657b83;
  box-shadow: 2px 2px 5px #657b83;
}
#add_clone_menu {
  margin-left: -325px;
  min-width: 600px;
}
#add_clone_menu > #addclone_input {
  margin-bottom: 10px;
  resize: none;
  height: 12em;
  width: 98%;
  border: 1px solid silver;
  border-radius: 0.1em;
  padding: 1%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border linear 0.2s, box-shadow linear 0.2s;
  transition-property: border, box-shadow;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: linear, linear;
  transition-delay: 0s, 0s;
}
#add_clone_menu > #addclone_input.error {
  border: 1px solid darkred;
}
#menu_right_part {
  float: right;
  display: flex;
  justify-content: flex-end;
}
.buttonSelector {
  background: #ffffff;
  cursor: pointer;
  font-size: 13px;
  padding: 3px 8px;
  display: block;
  text-align: left;
}
.systemBoxNameMenu:hover,
.focus_selected:hover,
.button:hover,
.button_right:hover,
.buttonSelector:hover,
.button2:hover,
.double_button__part1:hover,
.double_button__part2:hover {
  background: #ddd;
  color: #002b36;
  cursor: pointer;
}
/*	//////////////////////////////////////////////////////////////	*/
.popup_container {
  z-index: 15;
  min-width: 450px;
  max-width: 80%;
  font-size: 13px;
  padding: 20px;
  background: #ffffff;
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: solid;
  border-width: 1px;
  border-color: #657b83;
  box-shadow: 2px 2px 5px #657b83;
}
.popup_input {
  text-align: center;
  margin: 10px;
}
.popup_button {
  display: flex;
  justify-content: space-around;
}
/* Main style for <a> Used in particular in .popup_container, on login screen, in news, in links to results (for patient list and patient info)  */
a {
  color: #657b83;
}
a:hover {
  color: #002b36;
}
span.sample-tag,
a.tag-link {
  color: black;
  background-color: #eee;
  border-radius: 5px;
  padding: 2px;
  font-size: 85%;
  text-decoration: none;
}
/* ----------------- */
.modal {
  z-index: 3;
  border: solid;
  position: fixed;
  font-size: 13px;
  padding: 10px;
  background: #ffffff;
  display: none;
}
.modal.data-container,
.modal.info-container {
  top: 50px;
  left: 495px;
  max-width: calc(100% - (475px + 60px));
  height: calc(100% - 215px);
}
.modal.data-container {
  z-index: 4;
}
.modal.info-container {
  z-index: 3;
}
.modal.jstree-container {
  padding-top: 30px;
  top: 10%;
  left: 25%;
  width: 50%;
  height: 70%;
}
.data-msg,
.info-msg {
  overflow-x: auto;
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
}
#file_menu,
#menu,
#list_clones,
#tagSelector,
#clone_axes_selector #display-menu,
#bot-container {
  background: #ffffff;
}
.closeButton {
  position: absolute;
  top: 0px;
  right: 0px;
  background: inherit;
  cursor: pointer;
  padding: 1px;
  margin: 1px;
  font-size: large;
}
.closeButton:hover {
  color: #002b36;
}
.button,
.button_right,
.button_left {
  cursor: pointer;
  font-size: 13px;
  padding: 2px 5px;
  min-width: 16px;
  color: #657b83;
}
div.button {
  display: inline;
}
.button_next {
  margin-left: -8px;
}
.button_right {
  float: right;
}
.button_left {
  float: left;
  margin-right: -27px;
}
.button2,
.double_button {
  padding: 3px;
  margin: 3px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  background: #ddd;
  width: auto;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.double_button {
  padding: 0;
  display: inline-flex;
  cursor: pointer;
}
.double_button__part1,
.double_button__part2 {
  display: inline-flex;
  align-items: center;
  padding: 3px;
}
.double_button__part1 {
  padding-left: 5px;
}
.double_button__part2 {
  background: rgba(0, 0, 0, 0.05);
  padding-right: 5px;
}
.clipboard-button {
  margin-left: -5px;
  padding: 3px;
}
.smallbutton {
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
}
#logo {
  font-size: 130%;
  font-weight: bold;
  opacity: 1;
  padding: 5px 20px ;
  cursor: pointer;
}
span.logo {
  font-size: 60% ;
  font-weight: bold;
  vertical-align: super;
  opacity: 0.8;
  color: #f88;
}
.devel-mode,
.beta-mode {
  display: none;
}
.focus {
  max-width: calc(100% - 760px);
  overflow: hidden;
  height: 13px;
  display: inline-block;
  position: absolute;
  left: 380px;
  top: 3px;
  background: #ffffff;
}
.selector {
  display: none;
  position: fixed;
  margin-right: -5px;
  border: solid;
  background: inherit;
  min-width: 150px;
  margin-left: -6px;
  border-top: none;
  margin-top: calc(32px - 24px);
  z-index: 5;
  overflow: hidden;
  border-width: 1px;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
#bot-placeholder {
  flex: 0 0 155px;
}
#bot-container {
  position: fixed;
  bottom: 0;
  min-height: 155px;
  min-width: 760px;
}
.tn {
  width: 120px;
  display: inline-table;
}
#list_menu {
  flex: 0 1 auto;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
  border: solid;
  padding: 2px;
  width: 100%;
  border-width: 1px;
}
#filter_input {
  width: 200px;
}
.tagD {
  margin-left: 15px;
  width: 25px;
  display: inline-block;
  float: right;
}
.center {
  text-align: center;
}
.gradient {
  background: #3d24b6;
  filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d24b6', endColorstr='#b82424',GradientType=1 )";
  /* IE6-9 */
  width: 180px;
  height: 14px;
  margin-top: 4px;
  margin-bottom: -3px;
  display: inline-block;
}
#fps {
  float: right;
  position: relative;
  margin: 5px ;
  height: 0px;
  opacity: 0.5;
}
#test_result {
  font-family: monospace;
  font-weight: bold;
  position: absolute;
  width: 100%;
  top: 0px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 25px;
  color: grey;
}
.list_clones,
.bot-bar,
#bot-container,
.tagSelector,
#clone_axes_selector {
  border-color: #ddd;
}
#info_window td {
  width: 300px;
  max-width: 300px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  text-align: center;
  vertical-align: middle;
}
#info_warnings,
#info_warnings td {
  width: 100%;
}
#info_timepoint,
#info_timepoint td,
#info_warnings,
#info_warnings td,
.info_overlaps td {
  min-width: 150px;
  max-width: 100%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  vertical-align: middle;
}
#info_window table,
#info_timepoint table,
#info_warnings table,
.info_overlaps {
  border-style: solid;
  border-color: #ddd;
  border-collapse: collapse;
}
#info_window table .header,
#info_timepoint table .header,
#info_warnings table .header,
.info_overlaps table .header {
  border-width: 2px;
  background-color: #ddd;
}
.info_overlaps_line {
  background-color: #ddd;
  font-weight: bold;
}
span.ok {
  color: green;
}
text.ok {
  color: green;
}
span.info {
  color: blue;
}
text.info {
  color: blue;
}
span.warn,
span.warning {
  color: orange;
}
text.warn,
text.warning {
  fill: orange;
}
span.error,
span.fatal,
span.alert {
  color: red;
}
text.error,
text.fatal,
text.alert {
  fill: red;
}
span.warningReads {
  margin-left: 0.5em;
  display: inline-block;
  width: 1em;
  text-align: center;
  cursor: help;
}
.sp_menu_anchor {
  position: relative;
  top: -1px;
  left: -1px;
}
.visu2_menu_anchor {
  position: absolute;
  bottom: 6px;
  right: 0px;
}
.sp_menu_anchor,
.visu2_menu_anchor {
  width: 0px;
  height: 0px;
}
.visu2_menu {
  border-top: solid;
  border-left: solid;
  text-align: right;
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.sp_menu,
.visu2_menu {
  transition-property: all;
  transition-delay: 0.25s;
  transition-duration: 0.25s;
  background: #ffffff;
  display: inline-block;
  padding: 2px, 1px;
  border: solid;
  border-width: 1px;
}
.sp_menu_content,
.visu2_menu_content {
  transition-property: all;
  transition-delay: 0.25s;
  transition-duration: 0.25s;
  padding: 0px;
  width: 0px;
  max-height: 0px;
  opacity: 0;
  font-size: 0%;
  overflow: hidden;
}
.sp_menu:hover {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0s;
  border: none;
}
.sp_menu:hover .sp_menu_content,
.sp_menu_content:focus {
  transition-property: all;
  transition-delay: 0s;
  transition-duration: 0s;
  padding: 8px 8px 8px 8px;
  width: 250px;
  height: auto;
  max-height: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: -18px;
  background-color: white;
}
.visu2_menu:hover .visu2_menu_content,
.visu2_menu_content:focus {
  width: 100px;
  height: 45px;
}
.sp_menu:hover .sp_menu_content,
.visu2_menu:hover .visu2_menu_content,
.sp_menu_content:focus,
.visu2_menu_content:focus {
  font-size: 100%;
  opacity: 1;
}
.sp_menu_mode {
  display: flex;
}
.sp_menu_icon {
  width: 30px;
  border: solid;
  border-width: 2px;
  margin: 1px auto;
  border-color: #ffffff;
}
.sp_menu_icon:hover {
  background: #ddd;
}
.sp_selected_mode {
  border-color: #657b83;
  background: lightgrey;
}
.sp_menu_icon svg {
  fill: #657b83;
}
.sp_menu_icon svg:hover {
  fill: #fdf6e3;
}
.sp_selector {
  fill: #002b36;
  stroke-width: 2px;
  stroke: #002b36;
  fill-opacity: 0.2;
}
.sp_slider_box {
  height: 100%;
  width: 100%;
  display: flex;
}
.sp_slider_mid {
  width: 50%;
  margin-top: 2px;
}
.sp_slider_left {
  width: 25%;
  text-align: center;
  border: solid;
  border-width: 1px;
  margin-right: 12px;
}
.sp_slider_right {
  width: 25%;
  text-align: center;
  border: solid;
  border-width: 1px;
  margin-left: 14px;
}
.axis_select {
  vertical-align: bottom;
  display: inline;
  overflow: hidden;
  white-space: nowrap;
}
.axis_select_icon {
  display: flex;
}
.axis_select select {
  background: #ffffff;
  color: #657b83;
  height: 20px;
  width: 160px;
  -webkit-appearance: none;
  border: solid;
  border-width: 1px;
  border-radius: 2px;
  margin: 2px auto;
}
.axis_select_graph {
  top: 0px;
  display: none;
}
.axis_select select[selected=selected] {
  color: #002b36;
}
.visu-separator {
  position: relative;
  border-bottom-style: solid;
  border-top-style: solid;
  border-width: 1px;
  height: 6px;
  cursor: row-resize;
}
.visu-separator:hover {
  background-color: #fdf6e3;
}
.visu-separator-icon {
  position: relative;
  max-height: 6px;
  left: 50%;
  top: -6px;
  font-size: 10px;
  cursor: grab;
}
#bot-separator {
  background: #ddd;
  width: 100%;
  height: 6px;
  cursor: pointer;
  position: relative;
  top: -6px;
}
#vertical-separator {
  position: relative;
  float: left;
  cursor: pointer;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  min-width: 6px;
  width: 6px;
}
#vertical-separator:hover {
  cursor: pointer;
  background-color: #fdf6e3;
}
.vertical-separator-icon {
  font-size: 8px;
  display: block;
  position: relative;
  top: 50%;
  left: -2.5px;
  z-index: 2;
}
#vertical-separator-right {
  position: relative;
  float: right;
  cursor: pointer;
  border-left-style: solid;
  border-width: 1px;
  width: 0px;
}
#norm_button {
  width: 7ex;
}
.edit_button {
  float: right;
  margin-right: 2px;
  cursor: pointer;
}
.db_div {
  z-index: 10;
  position: fixed;
  top: 35px;
  width: 100%;
  height: calc(100% - 35px);
  font-size: 14px;
  background: #ffffff;
  display: none;
  left: 0%;
}
.db_msg {
  margin: 15px;
  height: calc(100% - 30px);
  overflow-y: auto;
}
#db_content {
  height: calc(100% - 160px);
}
.db_table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}
.db_table td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.table_compare td:hover {
  z-index: 999;
  position: relative;
  background: inherit;
  display: inline-block;
}
.table_stats td:hover {
  z-index: 999;
  position: relative;
  background: inherit;
  display: inline-block;
}
.db_table_split {
  text-align: center;
  background-color: #fdf6e3;
}
.db_table_split td {
  border-top: 2ex solid #ffffff;
}
.db_table .column_200 {
  width: 200px;
}
.db_table .column_150 {
  width: 150px;
}
.db_table .column_100 {
  width: 100px;
}
.db_table .column_50 {
  width: 50px;
}
.db_table .column_20 {
  width: 20px;
}
.db_table .column_sep {
  width: 50px;
  border: solid;
  border-width: 1px;
  border-color: #ffffff;
  background: #ffffff;
}
h3 .uid {
  font-size: 70%;
  margin: 0 1em;
}
.db_table .uid {
  font-size: 80%;
}
.db_block {
  width: 100%;
  display: inline-block;
}
.db_footer {
  display: block;
  position: absolute;
  bottom: 5px;
  left: 0px;
  width: 100%;
  background: white;
}
.db_block_left {
  float: left;
}
.db_block_right {
  float: right;
}
.db_block_center {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
}
.db_table th {
  border-bottom: solid;
  border-color: #ddd;
  border-width: 1px;
}
.db_table tr {
  border-bottom: solid;
  border-color: #ddd;
  border-width: 1px;
}
.pointer {
  cursor: pointer;
}
.db_table tr:hover {
  background: #ddd;
}
.db_table td {
  border-width: 0px;
}
#db_header {
  height: 20px;
}
#db_menu {
  float: left;
}
#db_auth {
  float: right;
}
#db_table_container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 30px);
  position: relative;
}
#db_table_container.border_columns td + td {
  border-left: 1px solid #ddd;
}
#db_table_container_x_scroll {
  overflow-x: scroll;
}
#db_fixed_header {
  position: absolute;
  top: 0px;
  background: #fdf6e3;
}
.db_fixed_footer {
  background: #fdf6e3;
}
.db_help_desc {
  margin-left: 150px;
}
.db_help_action {
  margin-left: 10px;
  font-weight: bold;
}
.db_help_p {
  margin-top: 20px;
  margin-left: 20px;
}
.summary_filename {
  width: 200px;
  display: inline-block;
  height: 1em;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-right: 5px;
}
.loading_gauge {
  height: 13px;
  width: 98px;
  display: inline-block;
  border: solid;
  border-width: 1px;
  margin: 0px 5px;
}
.loading_bar {
  height: 100%;
  width: 0%;
  background-color: #657b83;
  display: inline-block;
  transition: width 0.2s;
}
.loading_status {
  width: 100px;
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
}
.loading_seq {
  height: 15px;
  width: 100px;
  background-image: linear-gradient(-45deg, #ddd 25%, rgba(255, 154, 26, 0) 25%, rgba(255, 154, 26, 0) 50%, #ddd 50%, #ddd 75%, rgba(255, 154, 26, 0) 75%);
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  -o-animation: move 2s linear infinite;
  animation: move 2s linear infinite;
  display: inline-block;
  text-align: center;
  margin: 0px 5px;
}
@-webkit-keyframes move {
  to {
    background-position: 50px 50px;
  }
}
@-moz-keyframes move {
  to {
    background-position: 50px 50px;
  }
}
@-o-keyframes move {
  to {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes move {
  to {
    background-position: 50px 50px;
  }
}
.flash_container {
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
  z-index: 100;
}
.log_container {
  height: 75%;
  width: 400px;
  position: absolute;
  display: block;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  margin: 5px;
  background: #ddd;
  border-color: #ddd;
  z-index: 15;
  border: solid;
  border-width: 1px;
  box-shadow: 2px 2px 5px #657b83;
  opacity: 0.85;
  overflow-y: scroll;
  display: none;
}
.flash_0,
.flash_1,
.flash_2,
.flash_3 {
  width: 350px;
  min-height: 20px;
  border: solid;
  border-width: 1px;
  display: block;
  padding: 5px;
  margin: 5px;
  background: #ffffff;
  border-color: #ddd;
  transition: background 1s linear;
  box-shadow: 1px 1px 2px;
}
.log_0,
.log_1,
.log_2,
.log_3 {
  width: auto;
  min-height: 20px;
  display: block;
  margin: 5px;
  background: #ffffff;
  border: solid;
  border-width: 1px;
  padding: 5px;
}
.flash_1,
.log_1 {
  font-weight: bold;
  background-color: #DFF0D8;
}
.flash_2,
.log_2 {
  font-weight: bold;
  background-color: #F2DEAE;
}
.flash_3,
.log_3 {
  font-weight: bold;
  border-color: darkred;
  background-color: #F2DEDE;
}
.tip_1 {
  width: 400px;
  border: solid;
  border-width: 2px;
  display: block;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background: #DFF0D8;
  border-color: #ddd;
}
#tip_img {
  margin: 20px auto;
  display: block;
  border: grey solid 1px;
}
.key {
  display: inline-block;
  background: #ffffffdd;
  padding: 2px 4px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 80%;
  font-weight: bold;
  color: black;
}
.element {
  display: inline-block;
  background: #ffffffdd;
  padding: 2px 4px;
}
.right {
  float: right;
}
.left {
  float: left;
}
select > option:hover {
  background-color: #ddd;
}
.inactive {
  opacity: 0.5;
  pointer-events: none;
}
.unchecked {
  opacity: 0.5;
}
.suggest_box {
  height: 0px;
  display: block;
  position: relative;
}
.suggest_list {
  border: solid;
  border-width: 1px;
  min-height: 20px;
  background: #ffffff;
  border-color: #ddd;
  max-height: 100px;
  display: none;
  width: 300px;
  overflow-y: scroll;
}
.suggest_arrow {
  position: absolute;
  width: 12px;
  height: 16px;
  top: -22px;
  right: 0px;
  cursor: pointer;
  background: url("icon/arrow-down.png") 50% 50% no-repeat;
}
.suggestion {
  cursor: pointer;
}
.suggestion:hover {
  background: #fdf6e3;
}
input:focus,
textarea:focus,
#add_clone_menu > #addclone_input:focus {
  border-color: #ddd;
  box-shadow: inset 0 1px 1px #ffffff, 0 0 8px #ddd;
  outline: 0;
  outline: thin dotted \9;
}
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  font-size: 1em;
}
table.log {
  width: 90%;
}
table.log textarea {
  width: 100%;
}
.log-ERROR {
  color: red;
}
.log-ADMIN {
  color: blue;
}
.loglink {
  color: purple;
  text-decoration: none;
}
.waiting_screen {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: none;
}
.waiting_msg {
  text-align: center;
  font-size: 200%;
  margin-top: 200px;
  background: #FFF;
}
.console-div {
  display: flex;
  padding: 5px 0px;
  background: grey;
  color: white;
  font-family: monospace;
  white-space: pre-line;
  overflow: auto;
  max-height: 100%;
}
.console-flex {
  flex-grow: 1;
}
.tagColor_smaller_clones {
  margin-left: 7px;
}
.inactiveTag {
  background-image: linear-gradient(45deg, transparent -25%, #ffffff 100%, #ffffff 100%, transparent 0%);
}
.message_container {
  display: none;
}
.message_container.header {
  overflow: hidden;
  text-align: center;
}
.urgent_message {
  border: 2px solid darkred;
  margin: 3px;
  font-weight: bold;
  background-color: #F2DEDE;
}
.info_message {
  border: 1px solid #ddd;
  margin: 4px;
  background-color: #DFF0D8;
}
.notification {
  padding: 3px;
  display: inline-block;
  border-radius: 2px;
  cursor: pointer;
}
#login_messages .notification {
  display: block;
}
#login_messages .notification pre {
  padding: 3px;
  margin: 0px;
  display: block;
  width: auto;
}
#login_messages.message_container {
  width: 100%;
}
#listLocus,
#listVsegment,
#listDsegment,
#listJsegment {
  display: none;
}
.db_block.info_block {
  height: 50%;
  overflow-y: scroll;
  overflow-x: hidden;
}
#db_table_container.info_table {
  height: 50%;
}
.sample_details {
  float: left;
  width: 50%;
}
.reads_details {
  float: right;
  width: 50%;
}
.clear {
  clear: both;
}
.centered {
  text-align: center;
}
.info_container {
  color: #657b83;
  display: block;
  padding: 5px;
  border: 1px solid #ddd;
  overflow-wrap: break-word;
  overflow-y: hidden;
  min-height: 32px;
  max-height: 32px;
  width: 99%;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.patient_info_text {
  margin-bottom: 5px;
}
textarea#edit_value {
  box-sizing: border-box;
  position: fixed;
  width: 470px;
  min-height: 45px;
}
#top_info {
  font-weight: bold;
  color: black;
}
#top_info div {
  font-weight: normal;
  color: #657b83;
}
.save_info.button {
  vertical-align: top;
  padding-right: 0px;
  margin-right: 0px;
}
.vertical_space {
  margin-top: 5px;
  margin-bottom: 5px;
}
.inline-block_10 {
  display: inline-block;
  width: 10%;
  vertical-align: top;
}
.inline-block_90 {
  display: inline-block;
  width: 90%;
  vertical-align: top;
}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Doesn't work well
 * if opacity is not at 1
 * (for instance with .inactive classes)
 */
.ellipsisOverflow {
  z-index: 999;
  position: relative;
  background: inherit;
  display: inline-block;
}
label.highlight_label {
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
}
i[class*="icon-"] {
  cursor: pointer;
}
.visu-separator i {
  cursor: row-resize;
}
.disabledClass {
  pointer-events: none;
  opacity: 0.4;
  cursor: auto;
}
.db_table td.pre-line {
  white-space: pre-line;
}
.jstree {
  height: 88%;
  width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
#jstree {
  height: auto;
}
.jstree_button {
  float: right;
}
.jstree-anchor {
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}
#jstree_search_form {
  margin-top: -15px;
}
#jstree_search_input {
  width: 80%;
}
.threeDigits {
  min-width: 21px;
  text-align: right;
}
.twoDigits {
  min-width: 14px;
  text-align: right;
}
.sixChars {
  min-width: 50px;
  text-align: left;
}
.widestBox {
  min-width: 52px;
}
.button_token {
  border-radius: 2px;
  padding: 0 2px;
}
.set_token {
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
  color: #000;
  font-size: 85%;
  display: inline-block;
  background-color: #eee;
}
.run_token {
  background-color: #ffdde0;
}
.generic_token {
  background-color: #dcedff;
}
.patient_token {
  background-color: #eed0ff;
}
.token_container {
  display: inline-block;
}
.token_input,
.token_input:focus {
  border: 0;
  box-shadow: none;
  width: 100px;
  height: 25px;
}
.file_fieldset {
  clear: right;
  width: -moz-available;
}
form label {
  display: inline-block;
  text-align: right;
}
form div.field_div {
  float: left;
  display: inline-block;
}
form .form_label {
  line-height: 33px;
  width: 70px;
}
.error {
  font-weight: bold;
  color: red;
}
.icon-cancel {
  cursor: pointer;
}
.inline {
  display: inline-block;
}
.hidden {
  display: none;
}
#fieldset_container :not(.set_token) > .icon-cancel {
  float: right;
}
.buttons_add_elements {
  margin: 1em 0;
}
/* atwho css */
.atwho-view {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  margin-top: 18px;
  background: white;
  color: black;
  border: 1px solid #DDD;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  min-width: 120px;
  z-index: 11110 !important;
}
.atwho-view .atwho-header {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  border-bottom: solid 1px #eaeff1;
  color: #6f8092;
  font-size: 11px;
  font-weight: bold;
}
.atwho-view .atwho-header .small {
  color: #6f8092;
  float: right;
  padding-top: 2px;
  margin-right: -5px;
  font-size: 12px;
  font-weight: normal;
}
.atwho-view .atwho-header:hover {
  cursor: default;
}
.atwho-view .cur {
  background: #3366FF;
  color: white;
}
.atwho-view .cur small {
  color: white;
}
.atwho-view .cur strong {
  color: white;
  font: bold;
}
.atwho-view .cur.patient_li strong,
.atwho-view .cur.generic_li strong,
.atwho-view .cur.run_li strong {
  color: black;
  font: bold;
}
.atwho-view strong {
  color: #3366FF;
}
.atwho-view ul {
  /* width: 100px; */
  list-style: none;
  padding: 0;
  margin: auto;
  max-height: 200px;
  overflow-y: auto;
}
.atwho-view ul li {
  display: block;
  padding: 5px 10px;
  border-bottom: 1px solid #DDD;
  cursor: pointer;
  /* border-top: 1px solid #C8C8C8; */
}
.atwho-view ul li.patient_li:before {
  font-size: 80%;
  content: 'patient';
}
.atwho-view ul li.run_li:before {
  font-size: 80%;
  content: 'run';
}
.atwho-view ul li.generic_li:before {
  font-size: 80%;
  content: 'set';
}
.atwho-view ul li span.autocomplete_li {
  display: none;
}
.atwho-view small {
  font-size: smaller;
  color: #777;
  font-weight: normal;
}
.form-control {
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition-property: border-color, box-shadow;
  transition-duration: 0.15s, 0.15s;
  transition-timing-function: ease-in-out, ease-in-out;
  transition-delay: 0s, 0s;
  display: inline-block;
  min-width: 200px;
  vertical-align: middle;
  margin: 0;
  height: 25px;
}
.form-control:invalid {
  border: 1px solid red;
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(255, 0, 0, 0.075);
}
.form-control.stringid {
  min-width: 80px;
  width: 80px;
}
.form-control.sequencer {
  display: none;
}
.form-control.pcr {
  display: none;
}
.form-control.text {
  min-width: 350px;
  width: 350px;
}
.form-control[type="file"],
.form-control.jstree_field {
  border: 0px;
  border-radius: unset;
  box-shadow: unset;
  cursor: pointer;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 30px;
}
.form-control.date {
  min-width: 85px;
  width: 85px;
}
.meter {
  height: 15px;
  /* Can be anything */
  position: relative;
  background: #e7e7e7;
  box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.01);
}
.meter span.value_container {
  width: 100%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  z-index: 3;
  margin-top: -20%;
}
.meter span.value_container span.meter_value {
  background-color: #ffffff;
  opacity: 0.5;
  color: #657b83;
  height: 50%;
  display: inline-block;
  font-size: 10px;
  text-align: center;
}
.meter > span.meter_bar {
  display: block;
  height: 100%;
  background-color: #657b83;
  background-image: linear-gradient(center bottom, #657b83 37%, #ffffff 69%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
  position: relative;
  overflow: hidden;
}
.bar_chart {
  height: 20px;
}
.bar_chart .bar {
  display: inline-block;
  background-color: #657b83;
  background-image: linear-gradient(center bottom, #657b83 37%, #ffffff 69%);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.3), inset 0 -1px 1px rgba(0, 0, 0, 0.4);
  min-width: 0.2%;
}
.bar_chart_zoom {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}
.bar_chart_zoom:hover {
  -webkit-transform: scale(2);
  transform: scale(2);
  background-color: #ffffff;
  cursor: pointer;
}
.stats_locus {
  margin: 2px;
}
[hidden] {
  display: none !important;
}
.disabledbutton {
  pointer-events: none;
  opacity: 0.4;
  cursor: auto;
}
.list_lock_off {
  color: #ddd;
}
.list_lock_on {
  color: #657b83;
}
.set_group {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-bottom: 25px;
  margin-right: 15px;
  flex-flow: column;
  width: 48%;
}
.set_group_header {
  width: 100%;
}
.set_cell {
  word-break: break-all;
}
.set_data {
  width: 100%;
}
.analysis_button {
  display: inline-flex;
}
.margined-top {
  margin-top: 10px;
}
.margined-bottom {
  margin-bottom: 10px;
}
div.tooltip {
  position: absolute;
  text-align: left;
  padding: 2px;
  font: 14px sans-serif;
  color: #ffffff;
  background: #444343;
  border: 0px;
  border-radius: 3px;
  pointer-events: none;
}
.labelFocusMinor {
  color: grey;
  opacity: 0.7;
  font-size: 12px;
}
.labelFocusMajor {
  color: black;
  opacity: 1;
  font-weight: bold;
  font-size: 16px;
}
.rs-flex-parent-v {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  border: solid;
  border-width: 0px 1px;
  border-color: #cccccc;
  padding: 1px;
  margin-left: 15px;
}
.rs-flex-parent-h {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  padding: 1px;
  margin-left: 15px;
}
.rs-flex {
  padding: 1px;
  margin-left: 15px;
}
.rs-sample {
  flex: 1 1 0px;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 2px 2px 2px 2px;
  margin: 1px 10px;
}
.rs-locus {
  flex: 1 1 0px;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 1px 1px 0px 1px;
  min-width: 50px;
  max-width: 100px;
  font-size: 10px;
  font-weight: bold;
}
.rs-selected {
  opacity: 1;
  box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 1px 0px 3px 2px;
}
.rs-unselected {
  opacity: 0.5;
  filter: grayscale(1);
  background: lightgray;
  margin: 3px 1px 1px 3px;
}
.rs-unselected:hover {
  opacity: 0.75;
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
}
.rs-selected:hover {
  background: lightgray;
}
.rs-header {
  font-weight: bold;
  border-top: solid;
  border-width: 1px;
  border-color: #aaa;
  padding: 5px 5px 0px 0px;
}
.rs-body {
  max-height: 400px;
  overflow-y: auto;
  padding: 0px 5px;
  border: solid;
  border-width: 1px;
  background: #fafafa;
  margin: 8px;
}
#report-menu {
  width: 650px;
}
#rs-new-block-select {
  max-width: 200px;
}
.dropdown-check-list {
  position: relative;
}
.dropdown-check-list .rs-anchor {
  position: relative;
  cursor: pointer;
  display: inline-block;
  padding: 1px 50px 1px 10px;
  border: 1px solid #000;
}
.dropdown-check-list .rs-anchor:after {
  position: absolute;
  content: "";
  border-left: 2px solid black;
  border-top: 2px solid black;
  padding: 4px;
  right: 10px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
.dropdown-check-list .rs-anchor:active:after {
  right: 8px;
  top: 1%;
}
.dropdown-check-list ul.rs-items {
  padding: 2px;
  display: none;
  margin: 0;
  border: 1px solid #ccc;
  border-top: none;
  position: absolute;
  background: white;
}
.dropdown-check-list ul.rs-items li {
  list-style: none;
  display: flex;
  cursor: pointer;
}
.dropdown-check-list.visible .rs-anchor {
  color: #0094ff;
  background: white;
}
.dropdown-check-list.visible .rs-items {
  display: block;
}
.warning_span {
  min-width: 120px;
  display: inline-block;
  text-align: right;
  cursor: pointer;
}
.warning_span:hover {
  color: #002b36;
  font-style: oblique;
  font-weight: bold;
}
.warnings_section_unpresent {
  color: #93a1a1;
}
.afterAjaxScript {
  display: none;
}
body {
  line-height: 20px;
}
h1,
h2,
h3 {
  font-weight: bold;
  line-height: 40px;
}
h1,
h2,
div,
p {
  margin: 0;
  padding: 0;
}
header,
footer {
  display: block;
}
textarea {
  border: 1px solid silver;
  border-radius: 0.1em;
  padding: 1%;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  transition-property: border, box-shadow;
  transition-duration: 0.2s, 0.2s;
  transition-timing-function: linear, linear;
  transition-delay: 0s, 0s;
}
.flexbox {
  display: -ms-Flexbox;
  -ms-box-orient: horizontal;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.panel {
  background: white;
  border-radius: 0.1em;
  margin: 0.2% 0.4%;
  padding: 1%;
}
#header_panel {
  padding-top: 0.4%;
  position: fixed;
  height: 75px;
  width: 97.5%;
}
#app_title {
  font-size: 1.7em;
  float: right;
}
#tool_title {
  font-size: 1.2em;
}
#body_panel {
  bottom: 175px;
  max-height: 65%;
  position: fixed;
  top: 100px;
  width: 100%;
}
.twopanels_left {
  margin-right: 0.2%;
}
.twopanels_right {
  margin-left: 0.2%;
}
#form_submit,
#form_sequences_file {
  display: inline;
}
#form_block {
  height: 100%;
}
#form_panel {
  -webkit-flex: 1 60%;
  -moz-flex: 1 60%;
  -ms-flex: 1 60%;
  flex: 1 60%;
  height: 95%;
  padding: 2%;
  position: relative;
}
#form_sequences {
  resize: none;
  margin-top: 2%;
  height: 65%;
  width: 98%;
}
#scatter_panel {
  -webkit-flex: 2 32%;
  -moz-flex: 2 32%;
  -ms-flex: 2 32%;
  flex: 2 32%;
}
#segmenter_panel {
  bottom: 0;
  height: 154px;
  position: fixed;
  width: 97.2%;
}
#footer_panel {
  display: inline-block;
  float: right;
  padding: 0.4% 1.4%;
}
#copyright {
  font-size: 0.7em;
  position: absolute;
  bottom: 0.4%;
  right: 1.2%;
  text-align: right;
}
.vidjil_view {
  border-radius: 0.1em;
  /*border: 1px solid silver;*/
  position: relative;
  height: 100%;
  width: 100%;
}
.invisible,
.visible,
.waitingResponse,
.notWaitingResponse {
  -moz-transition: opacity 1s, background 1s;
  -webkit-transition: opacity 1s, background 1s;
  transition: opacity 1s, background 1s;
}
.invisible {
  opacity: 0;
}
.visible {
  opacity: 1;
}
.waitingResponse {
  background: whitesmoke;
}
.imgAjaxLoading {
  position: absolute;
  left: 50%;
  top: 50%;
}
.scatterplot,
.graph {
  height: 100%;
}
.graph_line {
  stroke-width: 2.5px;
}
.graph_inactive {
  stroke-width: 1.5px;
}
.list_sort {
  margin-right: 30px;
}
#db_table_container {
  height: calc(100% -30px);
}
#scatter_panel {
  height: 100%;
}
