{{extend 'db_layout.html'}}

<div>
    <div class="db_block">
        {{ for role in result: }}
            <div>{{=role}}</div>
            <hr>
            <div class="set_group">
                {{ for r in result[role]: }}
                    <div class="set_cell">
                        <div class="set_data">
                            <span class="button_token {{=r.sample_type}}_token">{{=r.sample_type}}s</span>:
                        </div>
                        <div class="set_data">number: {{=r['num_sets']}}</div>
                        <div class="set_data">associated samples: {{=r['num_samples']}}</div>
                        <div class="set_data">recent jobs: {{=r['statuses']}}</div>
                        <div class="set_data">
                        {{ for fuse in r['fuses']: }}
                            <span class="button button_token {{=r.sample_type}}_token">
                                <a href="https://localhost/?sample_set_id={{=fuse[1]}}&config={{=fuse[2]}}">{{=fuse[0]}}</a>
                            </span>
                            {{pass}}
                        </div>
                    </div>
                    {{pass}}
            </div>
            {{pass}}
    </div>
</div>
