{{extend 'db_layout.html'}}

<div>
    <div class="db_block">
        <div class="db_block_left">
            search
            <input id="db_filter_input" type="text" value="{{=request.vars["filter"]}}"  onchange="db.call('my_account/index', {'filter' : this.value, 'group_ids': {{=group_ids}}  } )"
            onfocus="new VidjilAutoComplete().setupTags(this);"
            data-needs-atwho="true" data-keys="{{=involved_group_ids}}">
        </div>
    </div>
    <div class="db_block">
        {{ for role in result: }}
            <div class="set_group">
                <div class="set_group_header">
                    {{=role}} ({{=result[role]['permissions']}})
                    <hr>
                </div>
                {{ for set_type in ['patient', 'run', 'set']: }}
                    {{ for r in result[role][set_type]['count']: }}
                        <div class="set_cell">
                            <div class="set_data">
                                <span class="button_token {{=r.sample_type}}_token">{{=r.sample_type}}s</span>:
                            </div>
                            <div class="set_data">number: {{=r['num_sets']}}</div>
                            <div class="set_data">associated samples: {{=r['num_samples']}}</div>
                        </div>
                        {{pass}}
                    {{pass}}
                <div class="set_data margined-top">recent jobs: {{=result[role]['statuses']}}</div>
                <div class="set_data margined-top">
                    {{ for tag in result[role]['tags']: }}
                        <a onclick="event.preventDefault();event.stopPropagation();db.callLinkable($(this))" href="/my_account/index" class="tag-link" data-linkable-type="tag" data-linkable-target-param="filter" data-linkable-name="#{{=tag}}">#{{=tag}}</a>
                        {{pass}}
                </div>
                <div class="set_data margined-top">
                {{ for fuse in result[role]['fuses']: }}
                    <div class="analysis_button">
                        <span class="button button_token {{=fuse[3]}}_token">
                            <a href="https://localhost/?sample_set_id={{=fuse[1]}}&config={{=fuse[2]}}">{{=fuse[4]}}: {{=fuse[0]}}</a>
                        </span>
                    </div>
                    {{pass}}
                </div>
            </div>
            {{pass}}
    </div>
</div>
