<fieldset name="generic{{=i}}">
    <legend>Set {{=i+1}}</legend>
    <input type="hidden" id="generic_id_{{=i}}" name="generic[{{=i}}][id]" value="{{if set is not None:}}{{=set['id']}}{{pass}}">
    {{ if set is not None and 'error' in set and len(set['error']) > 0: }}
        <div class="error">error: {{=", ".join(set['error'])}}</div>
    {{pass}}
    <div>
        <label for="sample_set_name_{{=i}}" id="sample_set_name__label_{{=i}}">Name: </label>
        <input class="string" id="sample_set_name_{{=i}}" name="generic[{{=i}}][name]" type="text"
            value="{{if set is not None:}}{{=set['name']}}{{pass}}"><span>*</span>
    </div>
    <div>
        <label for="sample_set_info_{{=i}}" id="sample_set_info__label_{{=i}}">Info: </label>
        <textarea
            onfocus="$(this).data('group-ids', [$('#group_select option:selected').val()]);
                     new VidjilAutoComplete().setupAtWho(this);"
            data-needs-atwho="true"
            class="text"
            cols="40"
            id="sample_set_info_{{=i}}"
            name="generic[{{=i}}][info]"
            rows="10">{{if set is not None and set['info'] is not None:}}{{=set['info']}}{{pass}}</textarea>
    </div>
</fieldset>
