{{extend 'db_layout.html'}}


<h3>Admin</h3>

<a class="button" onclick="db.call('results_file/index');">.vidjil file list</a>

</br>Database maintenace:
<a class="button" href="/vidjil/appadmin/index">administration</a>
<a class="button" onclick="db.call('admin/repair_missing_files');">fix missing files</a>
</br>

<hr>

</br>Vidjil server:
<a class="button" onclick="db.call('admin/log', {'file' : 'vidjil.log'} );">vidjil.log</a>
<a class="button" onclick="db.call('admin/log', {'file' : 'vidjil-debug.log'} );">debug.log</a>
<a class="button" href="/admin/default/errors/vidjil">web2py tickets</a>

</br>Ngnix:  
<a class="button" onclick="db.call('admin/log', {'file' : '../log/nginx/access.log'} );">access.log</a>
<a class="button" onclick="db.call('admin/log', {'file' : '../log/nginx/error.log'} );">error.log</a>



</br>
</br>

<div>
    Workers and tasks
    <div class="console-div">
        <div class="console-flex">active workers: {{=worker}}</div>
        <div class="console-flex">QUEUED: {{=queued}}</div>
        <div class="console-flex">ASSIGNED: {{=assigned}}</div>
        <div class="console-flex">RUNNING: {{=running}}</div>
    </div>
</div>

<div>
    Server status
    <div class="console-div">
        <div class="console-flex">{{=uptime}}</div>
    </div>
</div>

<div>
    Server disk usage
    <div class="console-div">
        <div class="console-flex">{{=disk_use}}</div>
    </div>
</div>
