{{extend 'db_layout.html'}}

Bientot vous trouverez içi un magnifique panneau d'administration, en attendant voila un lapin.</br>
<img src="http://upload.wikimedia.org/wikipedia/commons/3/3b/Rabbit_in_montana.jpg" style="width:200px; height:200px;"> 

</br>
<a class="button" onclick="db.call('results_file/index');">liste des fichiers result (data)</a>

</br>
<a class="button" onclick="db.call('admin/repair_missing_files');">fix missing files problem</a>

</br>
<a class="button" onclick="db.call('admin/log', {'file' : 'vidjil.log'} );">log</a>

</br>
<a class="button" onclick="db.call('admin/log', {'file' : 'vidjil-debug.log'} );">debug log</a>
