{{extend 'db_layout.html'}}

</br>
<a class="button" onclick="db.call('results_file/index');">liste des fichiers result (data)</a>

</br>
<a class="button" onclick="db.call('admin/repair_missing_files');">fix missing files problem</a>

</br>
<a class="button" onclick="db.call('admin/log', {'file' : 'vidjil.log'} );">log</a>

</br>
<a class="button" onclick="db.call('admin/log', {'file' : 'vidjil-debug.log'} );">debug log</a>

</br>
<a class="button" onclick="db.call('default/user/register');">register user</a>

</br>

<div>
    Worker status
    <div class="console-div">
        <div class="console-flex">active worker : {{=worker}}</div>
        <div class="console-flex">run in process : {{=running}}</div>
        <div class="console-flex">run in queue : {{=in_queue}}</div>
    </div>
</div>

<div>
    Server status
    <div class="console-div">
        <div class="console-flex">{{=uptime}}</div>
    </div>
</div>

<div>
    Server disk usage
    <div class="console-div">
        <div class="console-flex">{{=disk_use}}</div>
    </div>
</div>
