{{extend 'db_layout.html'}}
{{import vidjil_utils}}

<h3></h3>

{{ if format == 'raw': }}

 <div class="console-div">
        <div class="console-flex">{{ =raw }}</div>
 </div>

{{ else: }}

<div class="db_block">
    <div class="db_block_left">
        search
        <input id="db_filter_input" type="text" value="{{=request.vars["filter"]}}" 
               onchange="db.call('admin/log', {'file' : '{{=request.vars["file"]}}', 'filter' : this.value, 'format': '{{=request.vars["format"]}}' } )"  >
    </div>
</div>


<div id="db_table_container">
    <table class="db_table" id="table">
        
        <thead>
            <tr>
              {{ if format: }}
                <td class="column_100"> date </td>
                <td class="column_100"> </td>
                <td class="column_200"> user </td>
                <td class="column_100"> type </td>
                <td class="column_100"> file </td>
             {{ pass }}
                <td>  </td>
            </tr>
        </thead>
        
        {{for line in lines :}}
        <tr>
            {{ if format: }}
            <td> {{=line["date"]}} </td>
            <td> {{=line["date2"]}} </td>
            <td> {{=line["user"]}} </td>
            <td> {{=line["type"]}} </td>
            <td> {{=line["file"]}} </td>
           {{ pass }}
            <td> {{=XML(line["mes"])}} </td>
        </tr>
        {{pass}}
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>

{{ pass }}
