###
### Vidjil server, main configuration file
### This file must be named 'modules/defs.py' to be taken into account
###

### Upload directory for .fasta/.fastq.
### Old sequences files could be thrown away.
### No regular backup.

DIR_SEQUENCES = '/mnt/upload/uploads/'

### Upload directory for .vidjil/.fused/.analysis
### Regularly backuped

DIR_RESULTS = '/mnt/result/results/'

### Temporary directory to store vidjil results
### Formatted with 'data_id' in models/task.py
DIR_OUT_VIDJIL_ID = '/mnt/result/tmp/out-%06d/'

### Directory for program used in task.py
### relative path start from server/web2py
DIR_VIDJIL = '../../'
DIR_FUSE = '../'

### Port on which to run the fuse server
### Used in models/task.py and in /server/fuseserver.py
PORT_FUSE_SERVER = 12789
