{{extend 'db_layout.html'}}

<form id="data_form" action="DB_ADDRESS/patient/add_form" enctype="multipart/form-data" method="post">
    <table>
        <tbody>
            <tr>
                <td><label for="patient_id_label" id="patient_id_label__label">Patient ID: </label></td>
                <td><input class="date" id="patient_id_label" name="id_label" type="text" value=""><span></span></td>
                <td></td>
            </tr>
            <tr>
                <td ><label for="patient_first_name" id="patient_first_name__label">First Name: </label></td>
                <td ><input class="string" id="patient_first_name" name="first_name" type="text" value=""><span>*</span></td>
                <td ></td>
            </tr>
            <tr>
                <td><label for="patient_last_name" id="patient_last_name__label">Last Name: </label></td>
                <td><input class="string" id="patient_last_name" name="last_name" type="text" value=""><span>*</span></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="patient_birth" id="patient_birth__label">Birth: </label></td>
                <td><input class="date" id="patient_birth" name="birth" type="text" value=""><span>(format: yyyy-mm-dd)</span></td>
                <td></td>
            </tr>
            <tr>
                <td><label for="patient_info" id="patient_info__label">Info: </label></td>
                <td><textarea class="text" cols="40" id="patient_info" name="info" rows="10"></textarea></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td ><input type="submit" value="save" class="btn"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</form>

<div>
    (* required fields)
</div>
