{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}

{{
data_count = 0 
query = db( (db.sequence_file.patient_id==request.vars["id"])).select() 
for row in query :}}
    {{data_count += db(db.data_file.sequence_file_id == row.id).count()}}
{{pass}}
<div>
    <h3>{{=message}}</h3>
    
    Are you sure you want to delete this patient</br>
    All sequence file of this patient will also be deleted ({{=db(db.sequence_file.patient_id==request.vars["id"]).count()}} sequence file(s) will be deleted).</br>
    All data file of this patient will also be deleted ({{=data_count}} data file(s) will be deleted).</br>

    <div class="center"> 
        <button onclick="db.call('patient/delete', {'id' :'{{=request.vars["id"]}}'} )">continue</button>
    </div>
</div>
    
{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
