{{extend 'db_layout.html'}}

<form id="object_form" action="DB_ADDRESS/patient/submit" enctype="multipart/form-data" method="post">
    <div {{ if len(groups) <= 1: }} class="hiddenCheckBox" {{pass}}>
        <label for="group_select" id="patient_group__label">Owner Group: </label>
        {{= SELECT(*[OPTION(g['name'], _value=g['id']) for g in groups], _id="group_select", _name="group", _value=master_group, value=master_group) }}
    </div>
    <div id="fieldset_container">
        {{ for i, p in enumerate(patients): }}
            <fieldset name="patient{{=i}}">
                <legend>Patient {{=i+1}}</legend>
                <input type="hidden" id="patient_id_{{=i}}" name="patient[{{=i}}][id]" value="{{if p is not None and 'id' in p:}}{{=p['id']}}{{pass}}">
                {{ if p is not None and 'error' in p: }}
                    <div class="error">error: {{=", ".join(p['error'])}}</div>
                {{ pass }}
                <div>
                    <label for="patient_id_label_{{=i}}" id="patient_id_label__label_{{=i}}">Patient ID: </label>
                    <input class="date" id="patient_id_label_{{=i}}" name="patient[{{=i}}][id_label]" type="text"
                        value="{{if p is not None and p['id_label'] is not None:}}{{=p['id_label']}}{{pass}}"><span></span>
                </div>
                <div>
                    <label for="patient_first_name_{{=i}}" id="patient_first_name__label_{{=i}}">First Name: </label>
                    <input class="string" id="patient_first_name_{{=i}}" name="patient[{{=i}}][first_name]" type="text"
                        value="{{if p is not None:}}{{=p['first_name']}}{{pass}}"><span>*</span>
                </div>
                <div>
                    <label for="patient_last_name_{{=i}}" id="patient_last_name__label_{{=i}}">Last Name: </label>
                    <input class="string" id="patient_last_name_{{=i}}" name="patient[{{=i}}][last_name]" type="text"
                        value="{{if p is not None:}}{{=p['last_name']}}{{pass}}"><span>*</span>
                </div>
                <div>
                    <label for="patient_birth_{{=i}}" id="patient_birth__label_{{=i}}">Birth: </label>
                    <input class="date" id="patient_birth_{{=i}}" name="patient[{{=i}}][birth]" type="text"
                        value="{{if p is not None and p['birth'] is not None:}}{{=p['birth']}}{{pass}}" placeholder="yyyy-mm-dd">
                </div>
                <div>
                    <label for="patient_info_{{=i}}" id="patient_info__label_{{=i}}">Info: </label>
                    <textarea
                        onfocus="$(this).data('keys', [$('#group_select option:selected').val()]);
                                 new VidjilAutoComplete().setupTags(this);"
                        data-needs-atwho="true"
                        class="text"
                        cols="40"
                        id="patient_info_{{=i}}"
                        name="patient[{{=i}}][info]"
                        rows="10">{{if p is not None and p['info'] is not None:}}{{=p['info']}}{{pass}}</textarea>
                </div>
            </fieldset>
        {{ pass }}
    </div>
    <a class="btn" onclick="document.getElementById('fieldset_container').appendChild(new FormBuilder().patient(this.dataset.index++));" data-index="{{=len(patients)}}">Add more</a>
    <input type="submit" value="save" class="btn"></td>
</form>

<div>
    (* required fields)
</div>
