{{extend 'db_layout.html'}}
{{import vidjil_utils}}

<h3></h3>

<div class="db_block">
    <div class="db_block_left">
        search
        <input id="db_filter_input" type="text" value="{{=request.vars["filter"]}}"  onchange="db.call('patient/index', {'filter' : this.value} )">
    </div>
</div>


<div id="db_table_container">
    <table class="db_table" id="table">


        <thead>
            <tr><td class="column_200 pointer" onclick="db.call('patient/index', {'sort' :'last_name', 'filter' : '{{=request.vars["filter"]}}'
                  {{if not reverse and request.vars["sort"]=="last_name" :}} , 'reverse' : true {{pass}} })"> name </td>
                <td class="column_100 pointer" onclick="db.call('patient/index', {'sort' :'birth', 'filter' : '{{=request.vars["filter"]}}'
                  {{if not reverse and request.vars["sort"]=="birth" :}} , 'reverse' : true {{pass}} })"> birth </td>
                <td class="pointer" onclick="db.call('patient/index', {'sort' :'info', 'filter' : '{{=request.vars["filter"]}}'
                  {{if not reverse and request.vars["sort"]=="info" :}} , 'reverse' : true {{pass}} })"> info </td>
                <td class="pointer" class="column_100" onclick="db.call('patient/index', {'sort' :'configs', 'filter' : '{{=request.vars["filter"]}}'
                  {{if not reverse and request.vars["sort"]=="configs" :}} , 'reverse' : true {{pass}} })"> configs </td>
{{if isAdmin:}} <td class="column_50 pointer" onclick="db.call('patient/index', {'sort' :'groups', 'filter' : '{{=request.vars["filter"]}}'
                  {{if not reverse and request.vars["sort"]=="groups" :}} , 'reverse' : true {{pass}} })"> groups </td> {{pass}}
{{if isAdmin:}} <td class="column_100 pointer" onclick="db.call('patient/index', {'sort' :'creator', 'filter' : '{{=request.vars["filter"]}}'
                  {{if not reverse and request.vars["sort"]=="creator" :}} , 'reverse' : true {{pass}} })"> creator </td> {{pass}}
                <td class="column_100 pointer" onclick="db.call('patient/index', {'sort' :'files', 'filter' : '{{=request.vars["filter"]}}'
                  {{if not reverse and request.vars["sort"]=="files" :}} , 'reverse' : true {{pass}} })"> files </td>
                
                
                <td class="column5"> </td>
                <td class="column5"> </td>
                <td class="column5"> </td>
            </tr>
        </thead>
        
        
       {{for row in query :}}
           <tr class="pointer" onclick="db.call('patient/info', {'id' :'{{=row.patient.id}}' , 'config_id' : {{=row.most_used_conf}} } )" >
                <td> {{=row.name}} </td>
                <td> {{=row.patient.birth }} </td>
                <td> {{=row.patient.info }} </td>
                <td> {{=row.confs}}</td>
{{if isAdmin:}} <td> {{=row.groups}}</td>{{pass}}
{{if isAdmin:}} <td> {{=row.patient.creator}} {{if db.auth_user[row.patient.creator] :}}{{=db.auth_user[row.patient.creator].last_name}}{{pass}}</td>{{pass}}
                <td> {{=row.file_count}} ({{=vidjil_utils.format_size(row.size)}}) </td>
               
               
{{if isAdmin:}} <td onclick="db.call('patient/permission', {'id' :'{{=row.patient.id}}'} )" > p </td> {{else:}} <td></td> {{pass}}
                {{if (auth.has_permission('admin', 'patient', row.patient.id) ):}}
                <td onclick="db.call('patient/edit', {'id' :'{{=row.patient.id}}'} )" > e </td>
                <td onclick="db.call('patient/confirm', {'id' :'{{=row.patient.id}}'} )" > X </td>  
                {{else:}}  <td></td><td></td>{{pass}}
            </tr>
        {{pass}}

    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>


{{if auth.has_permission("create", "patient") :}}
<span class="button2" onclick="db.call('patient/add')"> + new patient </span>
<span class="button2" onclick="db.call('patient/custom')"> compare patients </span>
{{else:}}
<!-- <span class="button2 inactive" onclick="db.call('patient/add')" title="you don't have permission to create new patient"> add patient </span> -->
{{pass}}
