{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}

{{ 
count = db.sequence_file.id.count()

query = db(
    (auth.accessible_query('read', db.patient) | auth.accessible_query('admin', db.patient) ) 
).select(
    db.patient.ALL,
    count,
    left=db.sequence_file.on(db.patient.id == db.sequence_file.patient_id),
    groupby=db.patient.id
)
}}


<div>
    <h3>{{=message}}</h3>
    
    <div id="db_table_container">
        <table class="db_table" id="table">
            <thead>
                <tr><td class="column1"> name </td>
                    <td class="column2"> birth </td>
                    <td> info </td>
                    <td class="column2"> files </td>
                    <td class="column5"> </td>
                    <td class="column5"> </td>
                    <td class="column5"> </td>
                </tr>
            </thead>
           {{for row in query :}}
               <tr onclick="db.call('patient/info', {'id' :'{{=row.patient.id}}'} )" >
                    <td> {{=row.patient.last_name + " " + row.patient.first_name }} </td>
                    <td> {{=row.patient.birth }} </td>
                    <td> {{=row.patient.info }} </td>
                    <td> {{=row[count]}}</td>
                    {{if auth.has_membership("admin"):}}
                    <td onclick="db.call('patient/permission', {'id' :'{{=row.patient.id}}'} )" > p </td> {{else:}} <td></td> {{pass}}
                    {{if (auth.has_permission('admin', 'patient', row.patient.id) ):}}
                    <td onclick="db.call('patient/edit', {'id' :'{{=row.patient.id}}'} )" > e </td>
                    <td onclick="db.call('patient/confirm', {'id' :'{{=row.patient.id}}'} )" > X </td>  
                    {{else:}}  <td></td><td></td>{{pass}}
                </tr>
            {{pass}}
        </table>
        <table class="db_table" id="db_fixed_header"></table>
    </div>
    
    
    {{if auth.has_permission("create", "patient") :}}
    <span class="button2" onclick="db.call('patient/add')"> + new patient </span>
    {{else:}}
    <span class="button2 inactive" onclick="db.call('patient/add')" title="you don't have permission to create new patient"> add patient </span>
    {{pass}}
    
    
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
