{{extend 'db_layout.html'}}
{{import vidjil_utils}}



<div>

    <h3>{{=vidjil_utils.anon(request.vars['id'], auth.user.id)}}</h3>

    <div class="db_block">

        <div class="db_block_left">
            <span class="button" onclick="db.call('patient/edit', { 'id' : '{{=request.vars["id"]}}' } )" > edit patient info </span>
        </div>


        <div class="db_block_right">
        {{if auth.has_permission("run", "results_file") :}}
            config
            <span>
                <select id="choose_config" name="config" onchange="db.call('patient/info', {'id' :'{{=request.vars['id']}}', 'config_id' : this.value})">
                    <option value="-1" {{if not config :}}selected{{pass}}> --- </option>
                    {{for row in db((auth.accessible_query('read', db.config) | auth.accessible_query('admin', db.config) ) ).select(orderby=~db.config.name) :}}
                        <option value="{{=row.id }}" {{if row.id==config_id:}}selected{{pass}} >
                            {{=row.name}}
                        </option>
                    {{pass}}
                </select>
            </span>
        {{pass}}
        </div>
    </div>

</div>

<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr><td class="column_200"> file name </td>
                <td class="column2"> sampling date </td>
                <td> info </td>
                <td> pcr </td>
                <td class="column1"> size </td>
		{{if auth.has_membership('admin'):}} <td class="column_100"> uploader </td> {{pass}}
                <td class="column5"> </td>
                <td class="column5"> </td>
                <td class="column5"> </td>

                <td class="column_sep"></td>

                <td class="column2">last processing</td>
                <td class="column2">status</td>
                <td class="column5"></td>
                <td class="column4"></td>

            </tr>
        </thead>
        <tbody>
            {{for row in query :}}
                {{if row.results_file.scheduler_task_id is None or db.scheduler_task[row.results_file.scheduler_task_id ] is None:}}
                    {{status = '' }}
                {{else:}}
                    {{status = db.scheduler_task[row.results_file.scheduler_task_id ].status }}
                {{pass}}

                 <tr>
                    <td {{if row.sequence_file.data_file == None :}} {{=XML("class='inactive' title='file is missing' ")}}  {{pass}} id="sequence_file_{{=row.sequence_file.id}}">
                         {{=row.sequence_file.filename}}
                    </td>
                    <td> {{=row.sequence_file.sampling_date}} </td>
                    <td> {{=row.sequence_file.info}} </td>
                    <td> {{=row.sequence_file.pcr}} </td>
                    <td {{if row.sequence_file.data_file == None :}} {{=XML("class='inactive' title='file is missing' ")}} {{pass}} >
                        {{=vidjil_utils.format_size(row.sequence_file.size_file)}} </td>
		    {{if auth.has_membership('admin'):}}
		    <td> {{=row.sequence_file.provider}} {{if row.sequence_file.provider:}}{{=row.sequence_file.provider.last_name}}{{pass}}</td>
		    {{pass}}

                    {{if (auth.has_permission('admin', 'patient', request.vars["id"]) ):}}
                        <td class="pointer" onclick="db.call('file/edit', {'id' :'{{=row.sequence_file.id}}', 'patient_id' :'{{=request.vars['id']}}'} )" > e </td>
                        <td class="pointer" onclick="db.call('file/confirm', {'id' :'{{=row.sequence_file.id}}', 'patient_id' :'{{=request.vars['id']}}'} )" > X </td>
                        <td> <a {{if row.sequence_file.data_file == None :}} {{=XML("class='inactive' title='file is missing' ")}}
                                {{else:}} href="{{=URL('patient','download', scheme='https', args=row.sequence_file.data_file)}}" {{pass}}  >dl</a></td>
                    {{else:}}<td></td><td></td><td></td>{{pass}}


                    <td class="column_sep"></td>


                   {{if row.results_file.run_date :}}
                       <td class="button" onclick="db.call('results_file/info', { 'results_file_id' : '{{=row.results_file.id}}' } )"> {{=row.results_file.run_date }}</td>
                   {{else:}}<td></td>{{pass}}
                   <td class="button" onclick="db.call('results_file/info', { 'results_file_id' : '{{=row.results_file.id}}' } )"> {{=status}} </td>
                   <td class="pointer" onclick="db.call('results_file/confirm', {'results_file_id' :'{{=row.results_file.id}}'})" > X </td>
                   <td>
                   {{if row.sequence_file.data_file != None and ( row.results_file.id == None or ( status != "RUNNING" and status != "QUEUED" and status != "ASSIGNED") ):}}
                       {{if auth.has_permission("run", "results_file") :}}
                           <span class="button" onclick="db.call('default/run_request', { 'sequence_file_id' : '{{=row.sequence_file.id}}', 'config_id' : {{=config_id}} } )"> run >> </span>
                       {{else:}}<span class="button inactive" title="you don't have permission to schedule runs"> run >> </span>{{pass}}
                   {{pass}}
                   </td>
                </tr>
            {{pass}}

        </tbody>
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>


<div class="db_block">

    <div class="db_block_left">
        {{if auth.has_permission('admin', 'patient', request.vars["id"]):}}
        <span class="button2" onclick="db.call('file/add', { 'id' : '{{=request.vars["id"]}}' } )"> + add file </span>

        {{if not auth.has_permission("run", "results_file") :}}

        <br /> Once your data are uploaded, please
  <a href="mailto:contact@vidjil.org?Subject=%5Bvidjil%5D%20New%20sequences&Body=%0AHi%2C%0A%0AI%20uploaded%20some%20sequences%20on%20the%20rbx.vidjil.org%20server.%0ACould%20you%20run%20Vidjil%20on%20these%20data%20%3F%0A%0A">request an analysis</a>.
        {{pass}}

        {{pass}}

    </div>


    <div class="db_block_right">
        see the result:
        {{for row in db(db.fused_file.patient_id == request.vars["id"]).select() :}}
            {{filename = vidjil_utils.anon(request.vars["id"], auth.user_id) + " (" + db.config[row.config_id].name + ")"}}
            {{if row.fused_file is not None :}}
                <a class="button2" href="index.html?patient={{=request.vars["id"]}}&config={{=row.config_id}}" type="text/html"
                      onclick="event.preventDefault()
                               if( event.which == 2 ) { window.open(this.href) }
                               else { db.load_data( { 'patient' : '{{=request.vars["id"]}}' , 'config' : {{=row.config_id}} }, '{{=filename}}' ) }" >
            {{pass}}
                {{=db.config[row.config_id].name}} </a>
        {{pass}}
    </div>

</div>

{{if fused_count >0:}}
<div class="db_block">
    <div class="db_block_right">
        {{if row.fused_file is not None :}}
            download {{=db.config[config_id].name}}
        <!--
            <a class="button" href={{=URL('default', 'download_data', scheme='https', vars=dict(patient=request.vars["id"] ,config=request.vars["config_id"], filename=fused_filename ) )}} type="application/octet-stream" download> .data </a>
        -->
            <a class="button" href={{=URL('default', 'download', scheme='https', args=fused_file[0].fused_file, vars=dict(filename=fused_filename))}} type="application/octet-stream" download> .data </a>
            {{if analysis_count >0:}}
            <a class="button" href={{=URL('default', 'download', scheme='https', args=analysis_file[0].analysis_file, vars=dict(filename=analysis_filename))}} type="application/octet-stream" download> .analysis </a>
            {{pass}}
        {{pass}}
    </div>
</div>
{{pass}}

</div>
