{{extend 'db_layout.html'}}

{{('message' in globals())}}
{{if 'message' in globals():}}

{{patient = db.patient[request.vars["id"]]}}

{{if request.vars["config_id"] and not request.vars["config_id"] == -1 :}}
    {{config_id = long(request.vars["config_id"])}}
    {{config = True}}
    {{
    patient_name = patient.first_name + " " + patient.last_name
    config_name = db.config[request.vars["config_id"]].name

    fused = db(
        (db.fused_file.patient_id == patient)
        & (db.fused_file.config_id == config_id)
    )
    fused_count = fused.count()
    fused_file = fused.select()
    fused_filename = patient_name +"_"+ config_name + ".data"


    analysis = db(
        (db.analysis_file.patient_id == patient)
        & (db.analysis_file.config_id == config_id)
    )
    analysis_count = analysis.count()
    analysis_file = analysis.select()
    analysis_filename = patient_name +"_"+ config_name + ".analysis"
    }}
{{else:}}
    {{config_id = -1}}
    {{config = False}}
    {{fused_count = 0}}
{{pass}}


{{
query = db(
            (db.sequence_file.patient_id==db.patient.id)
            & (db.patient.id==request.vars["id"])
        ).select(
            left=db.results_file.on(
                (db.results_file.sequence_file_id==db.sequence_file.id)
                & (db.results_file.config_id==str(config_id) )
            )
        )
}}

<div>

    <h3>{{=patient.last_name + " " + patient.first_name }} ({{=patient.birth}})</h3>

    <div class="db_block">
      <!--
        <div class="db_block_left">
            file list
        </div>
      -->

        <div class="db_block_right">
            config
            <span>
                <select id="choose_config" name="config" onchange="db.call('patient/info', {'id' :'{{=request.vars['id']}}', 'config_id' : this.value})">
                    <option value="-1" {{if not config :}}selected{{pass}}> --- </option>
                    {{for row in db(db.config).select() :}}
                        <option value="{{=row.id }}" {{if row.id==config_id:}}selected{{pass}} >
                            {{=row.name}}
                        </option>
                    {{pass}}
                </select>
            </span>
        </div>
    </div>

</div>

<div id="db_table_container">
    <table class="db_table" id="table">
        <thead>
            <tr><td class="column1"> file name </td>
                <td class="column5"> </td>
                <td class="column2"> sampling date </td>
                <td> info </td>
                <td class="column5"> </td>
                <td class="column5"> </td>

                <td class="column_sep"></td>

                <td class="column2"> last processing </td>
                <td class="column5"> </td>
                <td class="column2">  </td>

            </tr>
        </thead>
        <tbody>
            
            {{for row in query :}}
                {{if row.results_file.scheduler_task_id is None :}}
                    {{status = '' }}
                {{else:}}
                    {{status = db.scheduler_task[row.results_file.scheduler_task_id ].status }}
                {{pass}}

                 <tr>
                    <td id="sequence_file_{{=row.sequence_file.id}}"> {{=row.sequence_file.filename}}</td>
                    <td> {{if row.sequence_file.filename == 'plop':}}<a href="{{=URL('patient','download', scheme='https', args=row.sequence_file.data_file)}}" >dl</a>{{pass}}</td>
                    <td> {{=row.sequence_file.sampling_date}} </td>
                    <td> {{=row.sequence_file.info}} </td>
                    {{if (auth.has_permission('admin', 'patient', request.vars["id"]) ):}}
                        <td onclick="db.call('file/edit', {'id' :'{{=row.sequence_file.id}}', 'patient_id' :'{{=request.vars['id']}}'} )" > e </td>
                        <td onclick="db.call('file/confirm', {'id' :'{{=row.sequence_file.id}}', 'patient_id' :'{{=request.vars['id']}}'} )" > X </td>
                    {{else:}}<td></td><td></td>{{pass}}
                     
                     
                    <td class="column_sep"></td>
                     
                     
                    {{if row.results_file.run_date :}}
                        <td class="button" onclick="db.call('patient/result_info', { 'results_file_file_id' : '{{=row.results_file.id}}' } )"> {{=row.results_file.run_date }}</td>
                    {{else:}}
                        <td></td>
                    {{pass}} 
                    {{if (auth.has_permission('admin', 'patient', request.vars["id"]) ):}}
                        <td onclick="db.call('patient/result_confirm', {'results_file_id' :'{{=row.results_file.id}}'})" > X </td>
                    {{else:}}
                        <td></td>
                    {{pass}} 
                    <td>
                        {{if row.sequence_file.filename != '' and config_id != -1:}}
                            {{if row.results_file.id == None or ( status != "RUNNING" and status != "QUEUED" and status != "ASSIGNED"):}}
                                {{if auth.has_permission("run", "results_file") :}}
                                    <span class="button" onclick="db.call('default/run_request', { 'sequence_file_id' : '{{=row.sequence_file.id}}', 'config_id' : {{=config_id}} } )"> run >> </span>
                                {{else:}}
                                    <span class="button inactive" title="you don't have permission to schedule runs"> run >> </span>
                                {{pass}}
                            {{else:}}
                                {{=status}}
                            {{pass}}
                        {{pass}}
                    </td>
                </tr>
            {{pass}}
            
        </tbody>
    </table>
    <table class="db_table" id="db_fixed_header"></table>
</div>


<div class="db_block">

    <div class="db_block_left">
        {{if auth.has_permission("upload", "sequence_file") :}}
        <span class="button2" onclick="db.call('file/add', { 'id' : '{{=request.vars["id"]}}' } )"> add file </span>
        {{else:}}
        <span class="button2 inactive" onclick="db.call('file/add', { 'id' : '{{=request.vars["id"]}}' } )" title="you don't have permission to upload files"> add file </span>
        {{pass}}
    </div>


    <div class="db_block_right">
        result :
        {{for row in db(db.fused_file.patient_id == request.vars["id"]).select() :}}
            {{filename = db.patient[request.vars["id"]].first_name + " " + db.patient[request.vars["id"]].last_name + " (" + db.config[row.config_id].name + ")"}}
            {{if row.fused_file is not None :}}<span class="button2" onclick="db.load_data( { 'patient_id' : '{{=request.vars["id"]}}' , 'config_id' : {{=row.config_id}} }, '{{=filename}}' )" >{{pass}}
                {{=db.config[row.config_id].name}} </span>
        {{pass}}
    </div>

</div>

{{if fused_count >0:}}
<div class="db_block">
    <div class="db_block_right">
        {{if row.fused_file is not None :}}
            download {{=db.config[config_id].name}}
            <a class="button" href={{=URL('default', 'download', scheme='https', args=fused_file[0].fused_file, vars=dict(filename=fused_filename))}} type="application/octet-stream" download> .data </a>
            {{if analysis_count >0:}}
            <a class="button" href={{=URL('default', 'download', scheme='https', args=analysis_file[0].analysis_file, vars=dict(filename=analysis_filename))}} type="application/octet-stream" download> .analysis </a>
            {{pass}}
        {{pass}}
    </div>
</div>
{{pass}}

</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
