{{extend 'db_layout.html'}}

{{

query = db(
    (db.auth_permission.table_name == "patient") &
    (db.auth_permission.record_id == request.vars["id"]) &
    (db.auth_permission.group_id == db.auth_group.id)
).select( orderby=db.auth_permission.name )

}}

<div>
    <h3>
        patient acces permission
    </h3>

    <div id="db_table_container">
        <table class="db_table" id="table">
            <thead>
                <tr><td class="column1"> group / user</td>
                    <td> right </td>
                    <td class="column5"> </td>
                </tr>
            </thead>

            {{ for row in query :}}
                {{ owner = row.auth_group.role}}
                {{ if owner[:5] == "user_" :}}
                    {{
                        id = int(owner[5:])
                        owner = db.auth_user[id].first_name + " " + db.auth_user[id].last_name 
                    }}
                {{pass}}
                    <tr>
                        <td> {{=owner}} </td>
                        <td> {{=row.auth_permission.name }} </td>
                        <td onclick="db.call('patient/remove_permission', {'patient_id' :'{{=request.vars["id"]}}', 'group_id' :'{{=row.auth_group.id}}' } )"> X </td>  
                    </tr>
            {{pass}}
        </table>
        <table class="db_table" id="db_fixed_header"></table>    
    </div>
    <span class="button" onclick="db.call('patient/index')"> back to list </span>

    
    
    
    
    {{if auth.has_permission("admin", "patient", request.vars["id"], auth.user.id) :}}

        <div>
            add 
            <span>
                <select id="select_perm" name="config">
                    <option value="read">read only</option>
                    <option value="admin">admin</option>
                </select>
            </span>
            permission to 
            <span>
                <select id="select_group" name="config">
                    {{for row in db(db.auth_group).select():}}
                        {{if row.role != "admin" and row.role[:5] != "user_" :}}
                            <option value="{{=row.id }}">{{=row.role}} </option>
                        {{pass}}
                    {{pass}}
                    
                    <option> - - - </option>
                    
                    {{for row in db(db.auth_user).select():}}
                            <option value="{{=auth.user_group(row.id)}}">{{=row.first_name + " " + row.last_name}} </option>
                    {{pass}}
                </select>
            </span>
            <span class="button" onclick="db.call('patient/change_permission', {
                                          'patient_id' : {{=request.vars["id"]}} ,
                                          'group_id' : document.getElementById('select_group').value ,
                                          'permission' : document.getElementById('select_perm').value  
                                                                             } )">
                add
            </span>
        </div>

    {{else:}}
        <div>you need admin access on this patient if you want to change permission </div>
    {{pass}}
    
</div>
