
<div id="db_header">
    
    <div id="db_menu">
        <a id="db_page_patient" class="button button_token patient_token" data-cy="db_page_patient" onclick="db.call('sample_set/all', {'type': 'patient', 'page': 0});">patients</a>
        <a id="db_page_run" class="button button_token run_token" onclick="db.call('sample_set/all', {'type': 'run', 'page': 0});">runs</a>
        <a id="db_page_set" class="button button_token generic_token" onclick="db.call('sample_set/all', {'type': 'generic', 'page': 0} );">sets</a>
        <a id="db_page_usage" class="button" onclick="db.call('my_account/index');">usage</a>
        <a id="db_page_processes" class="button" onclick="db.call('my_account/jobs');">processes</a>
        <a id="db_page_news" class="button" onclick="db.call('notification/index');">news</a>
        <a id="db_page_logs" class="button" onclick="db.call('log/index');">log</a>

        [[if globals().get('user') and auth.is_admin():]]
        - - -
        <a id="db_page_preprocess" class="button" onclick="db.call('pre_process/index');">pre-process configs</a>
        <a id="db_page_configs" class="button" onclick="db.call('config/index');">process configs</a>
        <a id="db_page_groups"  class="button" onclick="db.call('group/index');">groups</a>
        <a id="db_page_users"   class="button" onclick="db.call('user/index');">users</a>
        <a id="db_page_admin"   class="button" onclick="db.call('admin/index');">admin</a>
        - - -
        [[pass]]
    </div>
    
    <div id="db_auth">
            [[if globals().get('user'):]]
        
                [[if auth.is_impersonating() :]]                     
                    impersonate
                    <span>
                        <select id="choose_user" name="user" onchange="db.call('default/impersonate', {'id' : this.value, 'next': '[[=request.url]]'})">
                            <option value="0" selected> --- </option>
                            [[for row in db(db.auth_user.id >1).select() :]]
                                <option value="[[=row.id ]]" [[if int(row.id)==int(auth.user_id):]]selected [[pass]]>
                                    [[=row.id]] &ndash; [[=row.first_name]] [[=row.last_name]]
                                </option> [[pass]]
                        </select>
                        <icon class="icon-cancel-squared" id="desimpersonate_btn" type="button" class="btn btn-navbar"
                         onclick="db.call('default/stop_impersonate', {'next': '[[=request.url]]'});"/>
                    </span>[[pass]]
        
        
        
                [[if auth.is_admin():]]
                   [[if not auth.is_impersonating() :]] 
                    impersonate
                    <span>
                        <select id="choose_user" name="user" onchange="db.call('default/impersonate', {'id' : this.value, 'next': '[[=request.url]]'});">
                            <option value="0" selected> --- </option>
                            [[for row in db(db.auth_user.id >1).select() :]] 
                                <option value="[[=row.id ]]">[[=row.id]] &ndash; [[=row.first_name]] [[=row.last_name]]</option> [[pass]]
                        </select>
                    </span>
                   [[pass]]
                [[pass]]
                
        
                [[if not auth.is_impersonating() :]]                     
                    <span id="db_auth_name">
                        [[=globals().get('user',{}).get('first_name')]] [[=globals().get('user',{}).get('last_name')]]
                    </span>
                    <a href="#" onclick="db.call('user/edit', {'id': '[[=auth.user_id]]'})"><i class="icon-pencil-2" title="Edit my personal informations"></i></a>
                [[pass]]
        
        
        
        
                <a id="logout_button" class="button" onclick="db.call('auth/logout');">(logout)</a>
            [[pass]]
    </div>
    
</div>

<div class="clear"></div>
<div id="db_content">
    [[include]]
</div>


<div class="db_footer">
    <div class="db_block_left">
        <span id="db_back" class="button" onclick="db.back();"> << back</span>
        <span id="db_reload" class="button" onclick="db.reload();">reload</span>
    </div>
    <div class="db_block_right">

    </div>
</div>
